{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose actions for your action plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName="Choosing actions - visualisations" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose actions for your action plan
      </h1>

      <p>Select all the actions you will commit to in your action plan.</p>
      <p>This will be visible in your public record on this service.</p>

    </div>
    <div class="govuk-grid-column-full">

      <form class="form govuk-!-margin-top-7" action="/path/of/next/page" method="post">

        {{ govukAccordion({
          id: "",
          items: [
            {
              heading: {
                html: "
                  <div class=\"govuk-checkboxes\" data-module=\"govuk-checkboxes\">
                    <div class=\"govuk-checkboxes__item\">
                      <input class=\"govuk-checkboxes__input\" id=\"actions-1\" name=\"actions\" type=\"checkbox\" value=\"targets\">
                      <label class=\"govuk-checkboxes__label\" for=\"actions-1\">
                        Set internal targets for gender representation and equality
                      </label>
                    </div>
                  </div>
                "
              },
              content: {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat."
              }
            },
            {
              heading: {
                html: "
                  <div class=\"govuk-checkboxes\" data-module=\"govuk-checkboxes\">
                    <div class=\"govuk-checkboxes__item\">
                      <input class=\"govuk-checkboxes__input\" id=\"actions-1\" name=\"actions\" type=\"checkbox\" value=\"targets\">
                      <label class=\"govuk-checkboxes__label\" for=\"actions-1\">
                        Appoint employment equity leads and/or task forces
                      </label>
                    </div>
                  </div>
                "
              },
              content: {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat."
              }
            },
            {
              heading: {
                html: "
                  <div class=\"govuk-checkboxes\" data-module=\"govuk-checkboxes\">
                    <div class=\"govuk-checkboxes__item\">
                      <input class=\"govuk-checkboxes__input\" id=\"actions-1\" name=\"actions\" type=\"checkbox\" value=\"targets\">
                      <label class=\"govuk-checkboxes__label\" for=\"actions-1\">
                        Offer flexible working by default in job adverts
                      </label>
                    </div>
                  </div>
                "
              },
              content: {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat."
              }
            },
            {
              heading: {
                html: "
                  <div class=\"govuk-checkboxes\" data-module=\"govuk-checkboxes\">
                    <div class=\"govuk-checkboxes__item\">
                      <input class=\"govuk-checkboxes__input\" id=\"actions-1\" name=\"actions\" type=\"checkbox\" value=\"targets\">
                      <label class=\"govuk-checkboxes__label\" for=\"actions-1\">
                        Use structured interviews for recruitment and promotions
                      </label>
                    </div>
                  </div>
                "
              },
              content: {
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
