{% extends "layouts/main.html" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageTitle %}
  Choose actions for your action plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose actions for your action plan
      </h1>

      <p>Below is the full list of actions that can be included in your action plan.</p>
      <p>You can click through on each action to find more information, and decide whether to include it.</p>

      <form action="choose-actions-subpages/submitted" method="post">

        <ul class="govuk-task-list">
          {% for action in data.db.actions %}

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="choose-actions-subpages/{{action.shortCode}}" aria-describedby="company-details-{{loop.index}}-status">
                {{action.title}}
              </a>
            </div>
            <div class="govuk-task-list__status" id="company-details-{{loop.index}}-status">
              {% if data.choosingActions[action.shortCode].selected == "Yes" %}
                <strong class="govuk-tag govuk-tag--turquoise">
                  Selected
                </strong>
              {% else %}
                Not selected
              {% endif %}
            </div>
          </li>

          {% endfor %}
        </ul>

        <p>When you are happy with your plan, click below to submit it to our service.</p>

        {{ govukButton({
          text: "Submit action plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
