{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose actions for your action plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName="Choosing actions - visualisations" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose actions for your action plan
      </h1>

      <p>Select all the actions you will commit to in your action plan.</p>
      <p>This will be visible in your public record on this service.</p>

      <p class="review-note">
        Note: ticking the checkboxes also opens the accordion section, which is not desirable.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      <form class="form govuk-!-margin-top-7" action="/path/of/next/page" method="post">

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

          {% for action in data.db.actions %}

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="actions-{{loop.index}}" name="choosingActions[actions]" type="checkbox" value="{{action.shortCode}}">
                        <label class="govuk-checkboxes__label" for="actions-{{loop.index}}">
                          {{action.title}}
                        </label>
                      </div>
                    </div>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <p class="govuk-body">{{action.description}}</p>
              </div>
            </div>

          {% endfor %}
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
