{% extends "layouts/main.html" %}

{% set pageName="Action plan as prompt for data collection" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your action plan
      </h1>

    </div>
    <div class="govuk-grid-column-full">

      {% set journeyShortCode = "dataCollectionFromActionPlan" %}
      {% set creatingNewActionPlan = false %}
      {% set editUrl = "#" %}
      {% set enableDataCollectionJourney = true %}
      {% include "common/categorised-action-plan" %}

    </div>
  </div>

{% endblock %}
