{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>These are illustrative visualisations of ways in which employers might choose actions for their action plan.</p>

    <h2 class="govuk-heading-m">Base interaction</h2>

    <p>Firstly, there are a set of options for the core interaction of choosing a set of actions from a large list.</p>
    <p><a href="picking-actions-core-interaction/">Picking actions - core interaction</a></p>

    <h2 class="govuk-heading-m">Journeys</h2>

    <p>Secondly, there are some different step-by-step journeys to and through the action-picking step.</p>

    <p><a href="simple-pick-list/">Simple pick list</a></p>

    <p><a href="fixed-categories/">Fixed categories</a></p>

    <p><a class="todo" href="suggested-actions/">TODO: Suggested actions</a></p>

    <p><a class="todo" href="supporting-action-plan-development/">TODO: Supporting action plan development</a></p>

    <p><a class="todo" href="more-analysis-needed/">TODO: More analysis needed</a></p>

  </div>
</div>

{% endblock %}
