{% extends "layouts/dashboard.html" %}

{% set pageName="Your employers" %}
{% set serviceName="Dashboard redesign - visualisations" %}

{% set employerCode = data.employerCode %}
{% set currentReportingYear = "2024/25" %}
{% set showAdditionalDataCollectionPrompt = true %}

{% block endNote %}
  <div class="review-note">
    <p>Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Moved everything except current and overdue reports off this page</li>
      <li>Created separate page for historical submitted reports</li>
      <li>Added action plans and extra data collection as entries in the tables</li>
      <li>Added reporting year column as the index column, moved deadline column later in the table</li>
      <li>Removed "Reporting requirement" column, clarifying this in status instead</span></li>
      <li>Moved company name to heading caption to match GOV styles</li>
      <li>Simplified titling now there's less content on the page</li>
      <li>Updated tags to new GOV styles</li>
    </ul>
  </div>
{% endblock %}
