{% extends "layouts/menu-bar.html" %}

{% set pageName="Your employers" %}
{% set serviceName="Dashboard redesign - visualisations" %}

{% set thisPageEmployer = {} %}
{% for employer in data.db.dashboardEmployers %}
  {% if employer.shortCode == data.employerCode %}
    {% set thisPageEmployer = employer %}
  {% endif %}
{% endfor %}

{% set allReportsComplete = true %}
{% for report in thisPageEmployer.reports %}
  {% if report.status != "complete" %}
    {% set allReportsComplete = false %}
  {% endif %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{thisPageEmployer.name}}</span>
      <h1 class="govuk-heading-l">
        Reports
      </h1>

      <h2 class="govuk-heading-m">Reports due</h2>

    </div>
    <div class="govuk-grid-column-full">

      {% if allReportsComplete %}
        <p class="govuk-!-margin-bottom-6">
          You have no outstanding reports for this employer.
        </p>
      {% else %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reporting year</th>
              <th scope="col" class="govuk-table__header">Report type</th>
              <th scope="col" class="govuk-table__header">Report status</th>
              <th scope="col" class="govuk-table__header">Deadline</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for report in thisPageEmployer.reports %}
              {% if report.status != "complete" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    {{report.year}}
                  </td>
                  <td class="govuk-table__cell">
                    {{report.type}}
                  </td>
                  <td class="govuk-table__cell">
                    {% if report.status == "overdue" %}
                      {{ govukTag({
                        text: "Report overdue",
                        classes: "govuk-tag--red"
                      }) }}
                      <p class="govuk-link change-scope-link">
                        <a href="overdue-wrong">Think this is wrong?</a>
                      </p>
                    {% elif report.status == "required" %}
                      {{ govukTag({
                        text: "Report required",
                        classes: "govuk-tag--blue"
                      }) }}
                      <p class="govuk-link change-scope-link">
                        <a href="in-scope-wrong">Think this is wrong?</a>
                      </p>
                    {% elif report.status == "optional" %}
                      {{ govukTag({
                        text: "Report optional",
                        classes: "govuk-tag--blue"
                      }) }}
                      <p class="govuk-link change-scope-link">
                        <a href="out-of-scope-wrong">Think this is wrong?</a>
                      </p>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">
                    {{ report.deadline }}
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#">Draft report</a>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

    </div>
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Past reports</h2>

    </div>
    <div class="govuk-grid-column-full">

      {{ govukTable({
        head: [
          {
            text: "Reporting year"
          },
          {
            text: "Report status"
          },
          {
          }
        ],
        rows: [
          [
            {
              text: "2022-23"
            },
            {
              text: "Reported on time"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a href=\"#\">Edit report</a>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2021-22"
            },
            {
              text: "Reported late on 16th April 2022"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2020-21"
            },
            {
              text: "Reported voluntarily - not required"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2019-20"
            },
            {
              html: "<span class=\"hint\">Not required to report (due to COVID)</span>"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2018-19"
            },
            {
              html: "<span class=\"hint\">Not required to report</span>"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ]
        ]
      }) }}

      <div class="review-note">
        <p>Changes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Moved everything that isn't a report off this page <span class="todo">(TODO: will go in nav bar)</span></li>
          <li>Split reports between submitted and due</li>
          <li>Replaced index column (previously deadline) with reporting year, but added deadline column to due reports</li>
          <li>Express reporting years with dashes rather than slashes (2023-24 not 2023/24)</li>
          <li>Removed "Reporting requirement" column, clarifying this in report status instead</span></li>
          <li>Added "Edit window has passed" text for old reports that shouldn't be edited</li>
          <li>Added "See report" link for all submitted reports</li>
          <li>Moved company name to heading caption to match GOV styles</li>
          <li>Simplified titling now there's less content on the page</li>
          <li>Updated tags to new GOV styles</li>
        </ul>
      </div>

    </div>
  </div>

{% endblock %}
