{% extends "layouts/employers-list.html" %}

{% set pageName="Your employers" %}
{% set serviceName="Dashboard redesign - visualisations" %}

{% set dashboardUrl = "employer-current-reports" %}

{% block endNote %}
  <div class="review-note">
    <p>Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Action statuses (not just registration status) and deadline information (in simple language) per employer</li>
      <li>Tags updated to current GOV.UK style guide</li>
      <li>Shorter title</li>
      <li>Added "an" to button text for more natural language</li>
    </ul>
  </div>
{% endblock %}
