{% extends "layouts/menu-bar.html" %}

{% set pageName="Your employers" %}
{% set serviceName="Dashboard redesign - visualisations" %}

{% set employerName = "Los Pollos Hermanos, Inc." if data.employer == "lospolloshermanos"
  else ("Dunder Mifflin Paper Company, Inc." if data.employer == "dundermifflin"
  else ("Weyland-Yutani Corporation" if data.employer == "weylandyutani"
  else "Employer name")) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{employerName}}</span>
      <h1 class="govuk-heading-l">
        Reports
      </h1>

      <h2 class="govuk-heading-m">Reports due</h2>

      <p class="review-note">
        Only one of the two current-year reports would be shown; both are shown
        here to illustrate the differing labels and correction journeys between
        in and out of scope employers.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      {{ govukTable({
        head: [
          {
            text: "Reporting year"
          },
          {
            text: "Report status"
          },
          {
            text: "Deadline"
          },
          {
          }
        ],
        rows: [
          [
            {
              text: "2023-24"
            },
            {
              html:
                "<strong class=\"govuk-tag govuk-tag--red\">Report overdue</strong>
                <p class=\"govuk-link change-scope-link\"><a href=\"overdue-wrong\">Think this is wrong?</a></p>"
            },
            {
              text: "4th April 2024"
            },
            {
              html: "<a href=\"#\">Draft report</a>"
            }
          ],
          [
            {
              text: "2024-25"
            },
            {
              html:
                "<strong class=\"govuk-tag govuk-tag--blue\">Report required</strong>
                <p class=\"govuk-link change-scope-link\"><a href=\"in-scope-wrong\">Think this is wrong?</a></p>"
          },
            {
              text: "4th April 2025"
            },
            {
              html: "<a href=\"#\">Draft report</a>"
            }
          ],
          [
            {
              text: "2024-25"
            },
            {
              html:
                "<strong class=\"govuk-tag govuk-tag--blue\">Report optional</strong>
                <p class=\"govuk-link change-scope-link\"><a href=\"out-of-scope-wrong\">Think this is wrong?</a></p>"
          },
            {
              text: "4th April 2025"
            },
            {
              html: "<a href=\"#\">Draft report</a>"
            }
          ]
        ]
      }) }}

    </div>
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Past reports</h2>

    </div>
    <div class="govuk-grid-column-full">

      {{ govukTable({
        head: [
          {
            text: "Reporting year"
          },
          {
            text: "Report status"
          },
          {
          }
        ],
        rows: [
          [
            {
              text: "2022-23"
            },
            {
              text: "Reported on time"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a href=\"#\">Edit report</a>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2021-22"
            },
            {
              text: "Reported late on 16th April 2022"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2020-21"
            },
            {
              text: "Reported voluntarily - not required"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2019-20"
            },
            {
              html: "<span class=\"hint\">Not required to report (due to COVID)</span>"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ],
          [
            {
              text: "2018-19"
            },
            {
              html: "<span class=\"hint\">Not required to report</span>"
            },
            {
              html:
                "<ul class=\"govuk-summary-list__actions-list\">
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <a class=\"govuk-link\" href=\"#\">See report</span></a>
                  </li>
                  <li class=\"govuk-summary-list__actions-list-item\">
                    <span class=\"hint\">Edit window has passed</span>
                  </li>
                </ul>"
            }
          ]
        ]
      }) }}

      <div class="review-note">
        <p>Changes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Moved everything that isn't a report off this page <span class="todo">(TODO: will go in nav bar)</span></li>
          <li>Split reports between submitted and due</li>
          <li>Replaced index column (previously deadline) with reporting year, but added deadline column to due reports</li>
          <li>Express reporting years with dashes rather than slashes (2023-24 not 2023/24)</li>
          <li>Removed "Reporting requirement" column, clarifying this in report status instead</span></li>
          <li>Added "Edit window has passed" text for old reports that shouldn't be edited</li>
          <li>Added "See report" link for all submitted reports</li>
          <li>Moved company name to heading caption to match GOV styles</li>
          <li>Simplified titling now there's less content on the page</li>
          <li>Updated tags to new GOV styles</li>
        </ul>
      </div>

    </div>
  </div>

{% endblock %}
