{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Dashboard redesign - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      These are illustrative visualisations of changes to the dashboard to take
      into account the new information coming from action plans, and to make
      other journeys on the main pages clearer.
    </p>

    <p><a class="todo" href="dashboard/employers-list">WIP: Dashboard redesign</a></p>

  </div>
</div>

{% endblock %}
