<p>
  Diversity leads and task forces highlight and promote the value of diversity in the workplace.
</p>
<p>
  More generally, benefits of diversity and inclusion are found to include:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>reduced costs</li>
  <li>improved resourcing of talented personnel</li>
  <li>better products and services</li>
  <li>enhanced corporate image</li>
  <li>improved creativity and problem-solving</li>
  <li>better decision making</li>
  <li>innovation</li>
  <li>greater flexibility and increased productivity</li>
  <li>improved organisational performance and efficiency</li>
  <li>enhanced trust in relationships, satisfaction and commitment within the workforce</li>
  <li>improved customer relations and service delivery</li>
</ul>
