<p>
  Separating the business case from the moral case. Some literature implies that
  the business benefits of equality are different to those arising from
  diversity. Other studies suggest an overlap between the two and some a conflict
  between them.
</p>
<p>
  There can be a struggle to define diversity clearly. This may be because the
  term has been used to describe a large number of differences between people.
  We might simply describe surface-level diversity as demographic difference,
  and deep-level diversity as differences in attitudes and beliefs.
</p>
