<p>
  A diversity lead is a role within an organisation. It may be a full time
  position or a set of responsibilities which can be combined with another role,
  such as managing director or head of HR. Diversity leads work to improve
  representation and inclusion of members of minority groups, or staff who are
  underrepresented in the organisation.
</p>
<p>
  A diversity task force is a diverse collection of people. They have different
  backgrounds and characteristics, and represent the full diversity of employees
  in an organisation. A task force should be a way for underrepresented groups
  to feel heard and for their perspectives to be incorporated into decision-making.
</p>
