{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Equality and disability pay gaps on the viewing service - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      These are illustrative visualisations of how the general public might
      navigate the viewing service if employers had gender, ethnicity and
      disability pay gap reports, as well as action plans.
    </p>

    <p><a href="edpg-viewing-service/employer">Employer page</a></p>

  </div>
</div>

{% endblock %}
