{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Ethnicity and disability pay gaps on the viewing service - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      This is an illustrative visualisation of how the general public might
      navigate the viewing service if employers had gender, ethnicity and
      disability pay gap reports, as well as action plans.
    </p>

    <p><a href="edpg-viewing-service/employer">Employer page</a></p>

    <h2 class="govuk-heading-m">Reports navigation</h2>

    <p>
      These are different versions of the reports pages themselves, offering
      different information layouts with different advantages and disadvantages.
    </p>

    <p><a href="edpg-viewing-service/employer-pay-gaps-report--tabbed-by-report">Single report page tabbed by report</a> (gender, ethnicity, disability)</p>

    <p><a href="edpg-viewing-service/employer-pay-gaps-report--tabbed-by-statistic">Single report page tabbed by statisic</a> and sectioned by report (gender, ethnicity, disability)</p>

    <p><a href="edpg-viewing-service/employer-pay-gaps-report--overview-by-report">Separate pages per report</a> (gender, ethnicity, disability), with an overview page</p>

    <p><a href="edpg-viewing-service/employer-pay-gaps-report--all-charts-side-by-side">Single report page with all charts side by side</a> (except pay quarters is still tabbed)</p>

    <h2 class="govuk-heading-m">Data visualisations with multiple groups</h2>

    <p>
      This illustrates the data visualisations with multiple groups in each. Note:
      The text on this page is not updated to reflect the more granular breakdown.
    </p>

    <p><a href="edpg-viewing-service/multiple-groups">Data visualisations with multiple groups</a>, including a workforce breakdown</p>

  </div>
</div>

{% endblock %}
