{% extends "layouts/menu-bar.html" %}

{% set pageName="Annual review" %}
{% set serviceName="Action Plan lifecycle - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How are you measuring progress and impact?
    </h1>

    <form class="form" action="update-action-plan" method="post">

      {{ govukTextarea({
        id: "annualReview[measuringImpact]",
        name: "annualReview[measuringImpact]",
        hint: {
          text: "Please describe what measures your organisation has put in place to track the progress and impact of your action plan"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
