{% extends "layouts/main.html" %}

{% set pageName="Tiered, categorised checklist" %}
{% set serviceName="Tailored action plans - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Action plan draft
      </h1>

      <p>
        Please assess each category to tell us what actions you are taking or will take.
      </p>

    </div>
    <div class="govuk-grid-column-full">
        
      <form class="govuk-!-margin-top-4" action="submitted" method="post">

        {% include "common/categorised-action-plan" %}

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Your action plan consists of the actions you selected above that are not already routine
            for your organisation.
          </p>
          <p class="govuk-body">
            On submission your action plan will be published on the Gender pay gap service.
          </p>
        </div>

        {{ govukButton({
          text: "Submit checklist"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
