{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block breadCrumbs %}
{% endblock %}

{% block content %}

<form action="/edpg-reporting-questions/pay-gaps-report" method="post">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        Enter mean and median ethnicity pay gap using bonus pay
    </h1>

     <h2 class="govuk-heading-m">
        Reporting as Dunder Mifflin for snapshot date April 2027
    </h2>   
    
    <p class="govuk-!-margin-bottom-10">
        Enter your figures as whole percentages or rounded to one decimal place.
    </p>

    <p>If employees in non-white ethnic groups are paid more than employees in the white (including white other) group, enter a negative percentage figure – for example -12%.</p>

    <div>
        <h2 class="govuk-heading-m">
            Headline comparison
        </h2>
    

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-mean",
            label: {
            text: "Mean pay gap between the white (including white other) ethnic group and all other ethnic groups combined",
            classes: ""
            },
        
            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}
        
        </div>


        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-median",
            label: {
            text: "Median pay gap between the white (including white other) ethnic group and all other ethnic groups combined",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>

    </div>

        <div>
        <h2 class="govuk-heading-m">
            Further analysis
        </h2>
    <p>
        Enter the mean pay gap between the white (including white other) and the below ethnic groups:
    </p>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-mean",
            label: {
            text: "Asian or Asian British",
            classes: ""
            },
        
            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}
        
        </div>


        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-median",
            label: {
            text: "Black, Black British, Caribbean or African",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-median",
            label: {
            text: "Mixed or multiple ethnic groups",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-median",
            label: {
            text: "Other ethnic groups",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>

    </div>

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and return to dashboard
        </button>
    </div>
    
    <div>
        <a href="/edpg-reporting-questions/dpg-questions/bonus" class="govuk-back-link">back</a>
    </div>
    
    <div>
        <p class="govuk-!-margin-top-9">
            <a href="/edpg-reporting-questions/pay-gaps-report" class="govuk-back-link">return to dashboard</a>
        </p>
    </div>

    </div>
</div>

</form>

{% endblock %}