{% extends "layouts/menu-bar.html" %}

{% set pageName="Workforce breakdown - ethnicity" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workforce breakdown by ethnicity, and disclosure rates
      </h1>

      <p class="review-note">
        Design options: <br/>
        <a href="eligibility-long">One long form</a><br/>
        <a href="eligibility-white">Page per top-level ethnic group</a>

      </p>
      

    </div>
  </div>

{% endblock %}
