{% extends "layouts/menu-bar.html" %}

{% set pageName="Workforce breakdown - ethnicity" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Employees with any other background
      </h1>

      <form class="form" action="eligibility-unknown" method="post">
        
        {{ govukInput({
          label: {
            text: "Arab",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "other-arab-employees",
          name: "workforce[other-arab]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Any other ethnic group",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "other-other-employees",
          name: "workforce[other-other]",
          inputmode: "numeric"
        }) }}

        <p>or</p>

        {{ govukInput({
          label: {
            text: "Other ethnic group",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          id: "other-employees",
          name: "workforce[other]",
          inputmode: "numeric"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
