{% extends "layouts/menu-bar.html" %}

{% set pageName="Workforce breakdown - ethnicity" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-m">
            Options for how to incorporate the granular further analysis of ethnic groups within the GSS harmonised standard.
        </h1>


        <a  href="https://www.gov.uk/government/consultations/equality-race-and-disability-bill-mandatory-ethnicity-and-disability-pay-gap-reporting/outcome/consultation-on-mandatory-ethnicity-and-disability-pay-gap-reporting-government-response#government-response">Govt. consulation response here
        </a>

        <h2 class="govuk-heading-s govuk-!-margin-top-9">
            Options for checking eligibility for ethnicity reporting and onward journey:
        </h2>

    
        <a href="eligibility-v2.html">Option 1: Eligibility message appears on same page</a>
    
<br>

        <a href="eligibility-v3.html">Option 2: Eligibility on separate checking page</a>

        <h1 class="govuk-heading-s govuk-!-margin-top-6">
            Options for page layouts
        </h1>
        
        <a href="mean-median-split-a">Split 'headline' and 'further analysis' on two pages for all reports</a>
        







{% endblock %}