.hint {
    color: $govuk-secondary-text-colour;
}

.todo, a.todo {
    color: $govuk-error-colour;
    font-style: italic;
}

.review-note {
    color: govuk-colour("orange");
    font-style: italic;
}
