.hint {
    color: $govuk-secondary-text-colour;
}

.todo, a.todo {
    color: $govuk-error-colour;
    font-style: italic;
}

.review-note {
    border: solid 2px black;
    @include govuk-responsive-padding(2);
    background-color: mix(govuk-colour("orange"), white, 25%);
    color: $govuk-secondary-text-colour;
    font-style: italic;
}
