.hint {
  color: $govuk-secondary-text-colour;
}

.placeholder {
  color: $govuk-secondary-text-colour;
  font-style: italic;
}

.todo, a.todo {
  color: $govuk-error-colour;
  font-style: italic;
}

.review-note, .user-note, .warning {
  border: solid 2px black;
  @include govuk-responsive-padding(2);
  @include govuk-responsive-margin(4, "bottom");

  p:last-child {
    @include govuk-responsive-margin(0);
  }
}
.review-note {
  background-color: mix(govuk-colour("orange"), white, 25%);
  color: $govuk-secondary-text-colour;
  font-style: italic;
}
.review-note p {
  color: $govuk-secondary-text-colour;
}
.user-note {
  background-color: mix(govuk-colour("turquoise"), white, 25%);
}
.warning {
  background-color: mix(govuk-colour("red"), white, 25%);
}

.action-plan-summary {
  .govuk-summary-list__key {
    width: 65%;
  }

  .govuk-summary-list__value {
    width: 20%;
  }

  .govuk-summary-list__actions {
    width: 15%;
  }
}

.action-plan-summary-with-changes {
  .govuk-summary-list__key {
    width: 56%;
  }

  .govuk-summary-list__value {
    width: 36%;
  }

  .govuk-summary-list__actions {
    width: 8%;
  }
}

.action-plan-summary-with-changes-and-extra-action {
  .govuk-summary-list__key {
    width: 47%;
  }

  .govuk-summary-list__value {
    width: 38%;
  }

  .govuk-summary-list__actions {
    width: 15%;
  }
}

.suggested-actions-with-checkboxes {
  .govuk-summary-list__key {
    width: 62%;
    vertical-align: middle;
  }

  .govuk-summary-list__value {
    width: 20%;
    vertical-align: middle;
  }

  .govuk-summary-list__actions {
    width: 18%;
    vertical-align: middle;

    .govuk-form-group {
      margin-bottom: 0;
    }
  }

  &.show-reasons {
    .suggested-action {
      border-bottom: none;
    }
  }
}

.three-year-review-summary {
  .govuk-summary-list__key {
    width: 25%
  }

  .govuk-summary-list__value {
    width: 65%;
  }

  .govuk-summary-list__actions {
    width: 10%;
  }
}

.actions-narrow {
  width: 10%;
}

.data-visualisation--flexible-working {
  $bar-width: 400px;
  width: $bar-width;
  height: 50px;
  @include govuk-responsive-margin(4, "bottom");

  div {
    display: inline-block;
    color: transparent;
    height: 100%;
  }

  &.overall {
    .no-access {
      width: 0.31 * $bar-width;
    }
    .access-but-not-using {
      width: 0.54 * $bar-width;
    }
    .using {
      width: 0.15 * $bar-width;
    }
  }

  &.women {
    .no-access {
      width: 0.36 * $bar-width;
    }
    .access-but-not-using {
      width: 0.46 * $bar-width;
    }
    .using {
      width: 0.18 * $bar-width;
    }
  }

  &.men {
    .no-access {
      width: 0.27 * $bar-width;
    }
    .access-but-not-using {
      width: 0.63 * $bar-width;
    }
    .using {
      width: 0.10 * $bar-width;
    }
  }
}

.data-visualisation--key-block {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.data-visualisation--key-label {
  display: inline-block;
  @include govuk-responsive-margin(2, "right");
  position: relative;
  top: -5px;
}

.no-access {
  background-color: govuk-colour("orange");
}

.access-but-not-using {
  background-color: govuk-colour("dark-blue");
}

.using {
  background-color: mix(govuk-colour("turquoise"), white, 75%);
}
