.pay-comparison-vertical-bar-chart {
	box-sizing: border-box;
	word-wrap: break-word;
  margin: 10px 0;

  * {
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .pay-comparison-vertical-bar-chart-more-or-less {
    display: flex;
    justify-content: center;

    .pay-comparison-vertical-bar-chart-more-or-less-inner {
      width: 56px;
      margin: 3px;
      font-size: 16px;
      text-align: center;
    }

    .pay-comparison-vertical-bar-chart-more-or-less-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-top-color: #0b0c0c;
      border-right-color: #0b0c0c;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  .pay-comparison-vertical-bar-chart-bars {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 120px;

    .pay-comparison-vertical-bar-chart-bar {
      width: 56px;
      margin: 3px;

      &.pay-comparison-vertical-bar-chart-bar--women {
        background-color: #28A197;
        height: 50%;
      }

      &.pay-comparison-vertical-bar-chart-bar--men {
        background-color: #12436D;
        height: 100%;
      }

      &.pay-comparison-vertical-bar-chart-bar--notwb {
        background-color: #801650;
        height: 50%;
      }

      &.pay-comparison-vertical-bar-chart-bar--wb {
        background-color: #F46A25;
        height: 50%;
      }
    }
  }

  .pay-comparison-vertical-bar-chart-coins {
    display: flex;
    justify-content: center;

    .pay-comparison-vertical-bar-chart-coin {
      width: 56px;
      height: 56px;
      margin: 3px;
      text-align: center;
      line-height: 47px;
      font-size: 16px;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;

      &.pay-comparison-vertical-bar-chart-coin--women {
        border-color: #28A197;
      }
      &.pay-comparison-vertical-bar-chart-coin--men {
        border-color: #12436D;
      }
      &.pay-comparison-vertical-bar-chart-coin--notwb {
        border-color: #801650;
      }
      &.pay-comparison-vertical-bar-chart-coin--wb {
        border-color: #F46A25;
      }
    }
  }

  .pay-comparison-vertical-bar-chart-captions {
    display: flex;
    justify-content: center;

    .pay-comparison-vertical-bar-chart-caption {
      width: 56px;
      margin: 3px;
      font-size: 16px;
      text-align: center;
      /*
        NOTE: I've removed a "white-space: nowrap;" here compared to the live site!
        This is to allow longer captions like "White British" and "Smaller groups"
        to display.
      */
    }
  }
}
