<p>
  All employees in the UK have the legal right to request flexible working arrangements.
  There is no onus on employers to offer them or to be transparent about what they may
  be willing to offer.
</p>
<p>
  Some employees might be unable to apply for flexible working due to shift obligations
  or staffing requirements.
</p>
<p>
  A large portion of the gender pay gap is explained by women having more caring
  responsibilities and being less likely to work full-time, which strongly affects
  wage progression.
</p>
<p>
  Women who need flexible working arrangements, such as part-time work, may struggle
  to progress into more senior roles within their organisation. They may also have
  limited opportunities for external promotions that meet their work-care requirements,
  as only 15% of advertised jobs explicitly offer flexible working.
</p>
