<p>
  Start by designing a part-time role in your organisation. Identify the tasks,
  responsibilities and expected outputs that you need to be delivered.
  Prioritise the most important ones.
</p>
<p>
  Specify the skills and responsibilities needed &mdash; consider whether it’s
  realistic for one person to have all of these.
</p>
<p>
  Review the list of tasks and think:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>could the job be done differently from how the last person did it?</li>
  <li>has there been any ‘job creep’ due to the previous person accumulating duties over time?</li>
  <li>could some tasks be done more efficiently by other teams?</li>
</ul>
<p>
  Consider whether the list of tasks could be cut down or split into 2 (or more)
  smaller roles.
</p>
<p>
  If the role includes supervisory or customer-facing responsibilities and
  full-time cover is needed, consider whether there is an opportunity for
  another team member to deputise or job-share.
</p>
