<p>
  Making flexible working more widely available has the potential to normalise
  it for both women and men. Mentioning flexibility in job adverts should
  encourage more applicants &mdash; and in particular more women &mdash; to apply.
</p>
<p>
  By flexible working we mean all types of flexibility. This could mean:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the amount of hours worked &mdash; for example, part-time</li>
  <li>the working hours &mdash; for example, flexitime or compressed hours</li>
  <li>the location of the work &mdash; for example, working from home or working remotely</li>
  <li>other arrangements, such as job sharing</li>
</ul>
