{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Action plans on the viewing service - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      These are illustrative visualisations of how the action plans might appear
      on the viewing service, for public consumption.
    </p>

    <p><a href="viewing-service/employer">Employer page</a>, leading to action plan view and history</p>

    <p><a href="viewing-service/employer-pay-gaps-report-eap1">GPG report with EAP</a>, with a tabbed GPG data section and EAP section.</p>

  </div>
</div>

{% endblock %}
