{% extends "layouts/main.html" %}

{% block pageTitle %}
  Step 2. Choose your actions – Creating an action plan: guidance for employers – GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Creating an action plan: guidance for employers"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Society and culture",
        href: "#"
      },
      {
        text: "Equality, rights and citizenship",
        href: "#"
      },
      {
        text: "Equality",
        href: "#"
      },
      {
        text: "Creating an action plan: guidance for employers",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <!-- GOV.UK Style Blue Banner Header -->
  <div class="govuk-panel" style="text-align: left; background-color: #1d70b8; margin-bottom: 30px;">
    <span class="govuk-caption-xl" style="color: #ffffff;">Guidance</span>
    <h1 class="govuk-heading-xl" style="color: #ffffff; margin-bottom: 0;">Step 2. Choose your actions</h1>
  </div>

  <div class="govuk-grid-row">
    <!-- Main Content Column -->
    <div class="govuk-grid-column-two-thirds">
      

      <p class="govuk-body">Once you have understood the issues in your organisation, you should then choose actions which help to address them.</p>

      <p class="govuk-body">There are 18 actions to choose from. You must choose a minimum of 2 actions in your action plan:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>one must address your gender pay gap</li>
        <li>one must support employees experiencing menopause</li>
      </ul>

      <!-- Section: Types of action -->
      <h2 class="govuk-heading-l" id="types-of-action">Types of action</h2>

      <p class="govuk-body">For each action you select, we will ask if it is:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>new or in progress</strong> – this means you will be working on it for the first time or building on something you are already doing</li>
        <li><strong>embedded</strong> – this means it is already an established part of your working practice</li>
      </ul>

      <p class="govuk-body">You must choose at least 2 actions that are 'new or in progress'.</p>

      <h3 class="govuk-heading-m">'Embedded' actions</h3>

      <p class="govuk-body">If you have already made some of the government's actions an established part of your organisation's working practice, you can add them to your action plan as 'embedded' actions.</p>

      <p class="govuk-body">This can help give people a more complete picture of what your organisation has already done to improve gender equality.</p>

      <p class="govuk-body">We encourage you to include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>any actions that your organisation has already embedded</li>
        <li>further details about how your organisation made them an established part of its working practice – read more about writing a supporting narrative</li>
      </ul>

      <p class="govuk-body">If you want to do more work on an action you have added to your plan as 'embedded', you can change its status to 'new or in progress' – you would usually do this when you review your action plan.</p>

      <!-- Section: List of actions -->
      <h2 class="govuk-heading-l" id="list-of-actions">List of actions</h2>

      <p class="govuk-body">The following actions were researched and developed by the government. Evidence suggests they may be effective ways for organisations to improve equality in the workplace.</p>
      
        <div class="govuk-inset-text">
            <p> Read
                <a href="#">case studies</a>
                detailing real examples of how employers have implemented different actions
            </p>
        </div>

      <h3 class="govuk-heading-m">Recruiting staff</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="action-plan-inclusive-adverts">Make job descriptions inclusive</a></li>
        <li><a class="govuk-link" href="#">Encourage applications from a range of candidates</a></li>
        <li><a class="govuk-link" href="#">Reduce unconscious bias in CV screening</a></li>
        <li><a class="govuk-link" href="#">Use fair and structured interview techniques</a></li>
        <li><a class="govuk-link" href="#">Advertise leave policies in job adverts</a></li>
        <li><a class="govuk-link" href="#">Advertise flexible working arrangements in job adverts</a></li>
      </ul>

      <h3 class="govuk-heading-m">Developing and promoting staff</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Automatically consider eligible employees for promotion</a></li>
        <li><a class="govuk-link" href="#">Encourage employee development through actionable steps</a></li>
        <li><a class="govuk-link" href="#">Offer mentoring, sponsorship and other development programmes</a></li>
      </ul>

      <h3 class="govuk-heading-m">Building diversity into your organisation</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Set targets to improve gender representation</a></li>
      </ul>

      <h3 class="govuk-heading-m">Increasing transparency</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Increase transparency for pay, promotion and rewards</a></li>
        <li><a class="govuk-link" href="#">Enhance and promote flexible working and leave policies</a></li>
      </ul>

      <h3 class="govuk-heading-m">Supporting employees experiencing menopause</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Train managers to support employees experiencing menopause</a></li>
        <li><a class="govuk-link" href="#">Offer occupational health advice for employees experiencing menopause</a></li>
        <li><a class="govuk-link" href="#">Set up menopause support groups and networks</a></li>
        <li><a class="govuk-link" href="#">Offer workplace adjustments for employees experiencing menopause</a></li>
        <li><a class="govuk-link" href="#">Conduct a menopause risk assessment for your workplace</a></li>
        <li><a class="govuk-link" href="#">Review policies and procedures to meet the needs of employees experiencing menopause</a></li>
      </ul>


    </div>

    <!-- Sidebar / Context Meta -->
    <div class="govuk-grid-column-one-third" style="position: sticky; top: 20px; align-self: flex-start;">
      <div class="govuk-prototype-kit-sidebar">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-display-none-print">
        
        <p class="govuk-body-s">Related content</p>
        <p class="govuk-body-m"><strong><a class="govuk-link" href="#">Case studies: real examples of how employers have implemented different actions</a></strong></p>
        
      </div>
    </div>
  </div>
{% endblock %}