{% extends "layouts/menu-bar.html" %}

{% set pageName="Suggested actions" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Adding an action plan
        <br />
        <span class="govuk-!-font-size-27">
          for {{data.db.company.name}}
        </span>
      </h1>

      <p>
        Below is the full list of actions that can be included in your action plan,
        showing which ones you have selected.
      </p>
      <p>
        Confirm your selection below, or modify your selection.
      </p>

      <form class="govuk-!-margin-top-6" action="submitted" method="post">

        {% for category in data.db.actionCategories %}

          <h2 class="govuk-heading-m">{{category.title}}</h2>

          <dl class="govuk-summary-list action-plan-summary">
            {% for action in data.db.actions %}
              {% if action.category == category.shortCode %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{action.title}}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data.suggestedActions[action.shortCode].selected == "Yes" %}
                      <strong class="govuk-tag govuk-tag--turquoise">
                        Selected
                      </strong>
                    {% else %}
                      Not selected
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="action-details?suggestedActions[actionDetailsShortCode]={{action.shortCode}}">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>

              {% endif %}
            {% endfor %}
          </dl>
  
        {% endfor %}

        <div class="govuk-inset-text">
          <p class="govuk-body">
              On submission your gender pay gap information will be published on the Gender pay gap service.
          </p>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit action plan"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
