{% extends "layouts/menu-bar.html" %}

{% set pageName="Suggested actions" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Suggested actions
        <br />
        <span class="govuk-!-font-size-27">
          for {{data.db.company.name}}
        </span>
      </h1>

      <p>
        Based on your {{"data and answers" if data.suggestedActions['answered-questionnaire'] == "true" else "data"}}, we suggest the following actions.
      </p>

      <form class="govuk-!-margin-top-6" action="choose-actions-summary" method="post">

        {% for category in data.db.actionCategories %}

          {% for action in data.db.actions %}
            {% if action.category == category.shortCode and loop.index % 3 == 0 %}
              <span class="govuk-caption-l">{{category.title}}</span>
              <h2 class="govuk-heading-m">{{action.title}}</h2>
              <input type="hidden" name="suggestedActions[{{action.shortCode}}][selected]" value="Yes"/>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Why choose this?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  {% include "content/"+action.shortCode+"/summary" %}
                </div>
              </details>
            {% endif %}
          {% endfor %}
  
        {% endfor %}

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Add these to your action plan"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
