{% extends "layouts/main.html" %}

{% set pageName="Full action details pages" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Suggested actions
      </h1>

    </div>
    <div class="govuk-grid-column-full">

      <form action="action-list" method="post">

        {% set showFullGuidance = true %}
        {% set showCheckboxes = true %}
        {% set journeyShortCode = "fullActionDetails" %}
        {% include "common/suggested-actions-list" %}

        {{ govukButton({
          text: "Add selected actions to plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
