{% extends "layouts/main.html" %}

{% set pageName="Using target metrics" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Review your gender pay gap data
      <br />
      <span class="govuk-!-font-size-27 govuk-!-margin-top-3" style="display: inline-block; line-height: 1.3 !important;">
        Reporting as {{data.db.company.name}}
        <br />
        for snapshot date 5 April 2024
      </span>
    </h1>

    {% include "/common/gpg-data-tables" %}

    <div class="govuk-inset-text">
      <p class="govuk-body">
        Next you must create an action plan to address your gender pay gap.
      </p>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "choose-metrics"
    }) }}

  </div>
</div>

{% endblock %}
