{% extends "layouts/main.html" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% set pageName="Best practice checklist" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Best practice checklist
      </h1>

      <p>Below is a summary of what you have told us about your current status against the best practice checklist.</p>
      <p>Please check your answers and, when you are ready, submit it to your public record on this service.</p>

    </div>
    <div class="govuk-grid-column-full">
        
      <form class="govuk-!-margin-top-4" action="submitted" method="post">

        {% set journeyShortCode = "bestPracticeChecklist" %}
        {% set creatingNewActionPlan = true %}
        {% include "common/action-plan-in-progress.html" %}

        <div class="govuk-inset-text">
          <p class="govuk-body">
              On submission your best practice checklist will be published on the Gender pay gap service.
          </p>
        </div>

        {{ govukButton({
          text: "Submit checklist"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
