{% extends "layouts/main.html" %}

{% set pageName="Data collection as part of annual review" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How many employees are currently taking advantage of flexible working?
    </h1>

    <form class="form" action="flexible-working-check-answers" method="post">

      {{ govukInput({
        id: "dataCollectionFromAnnualReview[flexible-working-uptake-men]",
        name: "dataCollectionFromAnnualReview[flexible-working-uptake-men]",
        label: {
          text: "Men",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-5",
        value: data.dataCollectionFromAnnualReview["flexible-working-uptake-men"]
      }) }}

      {{ govukInput({
        id: "dataCollectionFromAnnualReview[flexible-working-uptake-women]",
        name: "dataCollectionFromAnnualReview[flexible-working-uptake-women]",
        label: {
          text: "Women",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-5",
        value: data.dataCollectionFromAnnualReview["flexible-working-uptake-women"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
