{% extends "layouts/menu-bar.html" %}

{% set pageName="Data collection as part of annual review" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What progress have you made this year?
    </h1>

    <form class="form" action="measuring-impact" method="post">

      {{ govukTextarea({
        id: "dataCollectionAnnualReview[progress]",
        name: "dataCollectionAnnualReview[progress]",
        hint: {
          text: "Please describe the progress your organisation has made in the last year on implementing your action plan"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
