{% extends "layouts/main.html" %}

{% set pageName="Data collection as part of annual review" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% set promotionDefinitions %}
  <p>
    Promotion refers to a permanent change when an employee advances or rises to
    a higher office or rank on an ongoing basis or fixed-term contract and does
    not return to the previous role.
  </p>
  <p>
    This includes when employees are promoted from one managerial role to another.
  </p>
  <p>
    Temporary changes, employees relocating to overseas offices, and those that
    transfer to a position of equal rank (despite an increase in duties) are not
    considered promotions.
  </p>
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How many employees were promoted in this reporting period?
    </h1>
    <p class="hint">
      The reporting period is 1 April 2024 to 31 March 2025.
    </p>

    <form class="form" action="promotions-from-entry-level-roles" method="post">

      {{ govukDetails({
        summaryText: "See exact definitions",
        html: promotionDefinitions
      }) }}

      {{ govukInput({
        id: "dataCollectionFromAnnualReview[promotions-total-men]",
        name: "dataCollectionFromAnnualReview[promotions-total-men]",
        label: {
          text: "Men",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-5",
        value: data.dataCollectionFromAnnualReview["promotions-total-men"]
      }) }}

      {{ govukInput({
        id: "dataCollectionFromAnnualReview[promotions-total-women]",
        name: "dataCollectionFromAnnualReview[promotions-total-women]",
        label: {
          text: "Women",
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-5",
        value: data.dataCollectionFromAnnualReview["promotions-total-women"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
