{% extends "layouts/menu-bar.html" %}

{% set pageName="Data collection as part of annual review" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Suggested actions
      </h1>

      <p>
        There are some actions we suggest adding to your action plan based on the data submitted. These are:
      </p>

      <form class="govuk-!-margin-top-6" action="update-action-plan" method="post">

        {% set suggestedActionsList = [
          'share-local-support-for-flexible-working',
          'flexible-working-available-to-all',
          'measure-flexible-working-uptake',
          'measure-promotions-by-gender',
          'structured-interviews',
          'remuneration-transparency',
          'promotion-application-by-default'
        ] %}
        {% set showReasons = true %}
        {% set showCheckboxes = true %}
        {% set journeyShortCode = "dataCollectionFromAnnualReview" %}
        {% include "common/suggested-actions-list" %}

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Add selected actions to your action plan"
          }) }}

          {{ govukButton({
            href: "update-action-plan",
            text: "Continue without adding any actions",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
