{% extends "layouts/main.html" %}

{% set pageName="Using target metrics" %}
{% set serviceName="Choosing actions - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose actions for your action plan
      </h1>

      <p>Based on your target metrics, we recommend adding the following actions to your action plan.</p>
      <p>These actions are those with the most evidence linking them to increases in your specific target metrics.</p>

      <form class="form govuk-!-margin-top-4" action="choose-actions-summary" method="post">

        {% for actionSummary in data | actionSummariesFilteredByMetrics %}
          <h2 class="govuk-heading-m">{{actionSummary.title}}</h2>
          <details class="govuk-details govuk-!-margin-bottom-3">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Read description
              </span>
            </summary>
            <div class="govuk-details__text">
              {% include "content/"+actionSummary.shortCode+"/summary" %}
            </div>
          </details>
          <input type="hidden" name="targetMetrics[{{actionSummary.shortCode}}][selected]" value="Yes" />
          {% if actionSummary.metrics.length == 0 %}
            <p>
              This action is a strategic action overseeing the improvement process as a whole.
              As a result, it should lead to a positive impact on all metrics.
            </p>
          {% else %}
            <p>This action targets the following metrics:</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for metricSummary in actionSummary.metrics %}
                <li>{{metricSummary.title}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}

        {{ govukButton({
          text: "Add these to your action plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
