{% extends "layouts/menu-bar.html" %}

{% set pageName="Create action (start page)" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a new action
      </h1>
      <p>
        Create your own custom action to reduce your gender pay gap and support employees experiencing menopause.
      </p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>
        Make sure you have read our list of <a href="https://www.gov.uk/government/collections/action-plans-list-of-actions">18 evidence-informed actions</a> on: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>recruiting, developing and promoting staff</li>
        <li>building diversity into your organisation</li>
        <li>increasing transparency</li>
        <li>supporting employees experiencing menopause</li>
      </ul>
      <p>Make sure you have prepared the content for your each custom action. The custom action must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>address your gender pay gap or support employees experiencing menopause</li>
        <li>have a title and description of its purpose and goals</li>
        <li>include supporting text which explains why you chose it and how you will track its progress</li>
        <li>include evidence of how the action is effective</li>
      </ul>
      <p>Read more about <a href="https://www.gov.uk/government/collections/action-plans-list-of-actions">preparing custom actions</a>.</p>

      {{ govukButton({
        text: "Continue",
        href: "action-status",
        classes: "govuk-!-margin-top-4"
      }) }}
  
    </div>
  </div>

{% endblock %}
