{% extends "layouts/menu-bar.html" %}

{% set pageName="Three-year review" %}
{% set serviceName="Action Plan lifecycle - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Would you like to add new actions to your plan?
    </h1>

    <p>
      The following lists all of our recommended actions that are not yet in your plan.
      If you would like to add any of them to your plan at this stage, tick them below.
    </p>

    <form class="form" action="check-your-evaluation" method="post">

      <div class="warning">
        <p>TODO!</p>
        <p>
          So far this journey lists all actions in the system for evaluation,
          even if they are not currently on the user's plan.
        </p>
        <p class="govuk-!-margin-bottom-0">
          This mock-up will be modified so that it only lists for evaluation
          the actions that are actually on the plan, and then any actions
          that are <em>not</em> already on the plan can be added here.
        </p>
      </div>

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-3"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
