{% extends "layouts/dashboard.html" %}

{% set pageName="Three-year review" %}
{% set serviceName="Action plan lifecycle - visualisations" %}

{% set reportsDueRows = [
  [
    {
      text: "4 Apr 2025"
    },
    {
      text: "Action plan three-year review"
    },
    {
      text: "You are required to report."
    },
    {
      html: "<strong class=\"govuk-tag govuk-tag--blue\">Due 4 Apr 2025</strong>"
    },
    {
      html: "<a href=\"three-year-review-intro\">Review action plan</a>"
    }
  ]
] %}

{% set completedReportsRows = [
  [
    {
      text: "4 Apr 2025"
    },
    {
      text: "GPG data"
    },
    {
      text: "You are required to report."
    },
    {
      html: "<strong class=\"govuk-tag govuk-tag--green\">Reported</strong>"
    },
    {
      html: "<a href=\"#\">Edit report</a>"
    }
  ],
  [
    {
      text: "4 Apr 2022"
    },
    {
      text: "Action plan"
    },
    {
      text: "You were required to report."
    },
    {
      html: "<strong class=\"govuk-tag govuk-tag--green\">Reported</strong>"
    },
    {
      html: "<a href=\"#\">Edit report</a>"
    }
  ]
] %}
