{% extends "layouts/menu-bar.html" %}

{% set pageName="Three-year review" %}
{% set serviceName="Action Plan lifecycle - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Evaluate your plan
    </h1>

    <p>
      Please evaluate each action in your plan.
    </p>

  </div>
  <div class="govuk-grid-column-full">

    <form class="form" action="add-new-actions" method="post">

      {% set journeyShortCode = "threeYearReview" %}
      {% set creatingNewActionPlan = false %}
      {% set mustSubmit = true %}
      {% set unsubmittedLinkText = "Evaluate this action" %}
      {% set highlightNoChange = true %}
      {% set editUrl = "evaluate-action" %}
      {% include "common/action-plan-in-progress.html" %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
