<p>
  When firms
  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/49638/the_business_case_for_equality_and_diversity.pdf">better represent the world and legislative environment around them</a>,
  external business benefits may arise as this helps firms address its products
  appropriately and sensitively to new markets. 
</p>
<p>
  External benefits include
  ‘<a href="https://royalsociety.org/~/media/policy/projects/leading-the-way/diversity-business-case-june-2014.pdf">reduced costs, improved resourcing of talented personnel, better products and services, and enhanced corporate image</a>’. 
</p>
<p>
  Internal benefits arise because a diverse workforce ‘which includes a range of perspectives can improve creativity and problem-solving, resulting in better decisions’, innovation, and greater flexibility.
</p>
