<p>
  First, appoint an influential senior individual who cares about equality,
  diversity and inclusion. The role will be more effective if this is the case.
  Their time should be ‘ringfenced’ &mdash; this means they should have
  sufficient time, resources and support away from other corporate functions to
  undertake their roles.
</p>
<p>
  A diversity lead should have subject matter expertise and experience working
  directly on diversity and inclusion initiatives. They need support from the
  executive team and access to date. This ensures that a more diverse and
  inclusive culture spreads throughout the organisation.
</p>
<p>
  A diversity task force needs a diverse mix of representatives. They need
  support to develop solutions to diversity challenges and to spread those
  throughout the organisation.
</p>
