<p>
  Under the Equality Act 2010, individuals are protected from discrimination,
  harassment and victimisation on the basis of disability, sex and age. If
  menopause symptoms amount to a disability, an employer will be under a legal
  obligation to make reasonable adjustments and to not discriminate against the
  worker.
</p>
<p>
  Managers may feel they need to be menopause experts. The most important and
  valuable thing a manager can do is listen, keep an open mind, and avoid making
  assumptions about someone’s condition or how it may be affecting their ability
  to do their job.
</p>
