<p>
  An estimated 400,000 women enter menopause each year, typically between the
  ages of 45 and 55. 
</p>
<p>
  Research shows that
  <a href="https://www.cipd.org/uk/knowledge/reports/menopause-workplace-experiences/">67% of working women</a>
  between the ages of 40 and 60 with
  experience of menopausal symptoms said they have had a mostly negative impact
  on them at work.
</p>
<p>
  <a href="https://www.forthwithlife.co.uk/blog/uk-menopause-statistics-2023-attitudes-to-menopause-at-work/">90% of UK workplaces</a>
  have no formal support for women experiencing menopause symptoms.
</p>
<p>
  <a href="https://workinmind.org/2023/11/22/3-5-million-women-have-considered-quitting-jobs-due-to-lack-of-menopause-support/">87% of working women</a>
  want their employers to be more supportive of the challenges of menopause.
</p>
