<p>
  There are a number of ways to support employees experiencing symptoms of
  menopause. Managers can:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    provide regular training, and facilitate discussions and actions at all
    levels about equality, diversity and inclusion and the menopause
  </li>
  <li>
    move away from presenteeism as a performance metric and introduce greater
    flexibility in where and when work is done
  </li>
  <li>
    clearly communicate inclusive policies, such as menopause support and
    workplace adjustments
  </li>
  <li>
    regularly check in with your staff on how they’re feeling at and outside of
    work to see if any adjustments or support is needed
  </li>
  <li>
    provide guidance and training to employees and managers
  </li>
  <li>
    set up staff networks
  </li>
  <li>
    facilitate more breaks, for example between meetings
  </li>
</ul>
<p>
  Organisations can help lessen the impact of menopause on women at work. They can:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    provide rest areas and quiet rooms
  </li>
  <li>
    introduce cooling systems or fans for women experiencing hot flushes
  </li>
  <li>
    relax uniform policies
  </li>
  <li>
    provide cooler clothing
  </li>
  <li>
    promote flexibility of location
  </li>
  <li>
    vary shift patterns
  </li>
</ul>
