<p>
  <a href="https://www.peoplemanagement.co.uk/article/1862376/new-workplace-menopause-advice-employers-guide">https://www.peoplemanagement.co.uk/article/1862376/new-workplace-menopause-advice-employers-guide</a>
</p>
<p>
  <a href="https://www.bi.team/press-releases/women-underestimate-public-support-for-extra-workplace-adjustments-for-menopause/">https://www.bi.team/press-releases/women-underestimate-public-support-for-extra-workplace-adjustments-for-menopause/</a>
</p>
<p>
  <a href="https://www.managers.org.uk/knowledge-and-insights/advice/10-simple-ways-you-can-support-your-menopausal-employees/">https://www.managers.org.uk/knowledge-and-insights/advice/10-simple-ways-you-can-support-your-menopausal-employees/</a>
</p>
