{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Integrated data collection - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>These visualisations show how employers might collect further workforce data in our service (on top of the mandatory annual collection).</p>

    <p><a href="data-collection/from-action-plan">Action plan as prompt for data collection</a></p>

  </div>
</div>

{% endblock %}
