{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Action suggestion engine - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      This demonstrates how our service might suggest tailored actions to the
      user based on data from their organisation specifically.
    </p>

    <p>
      <a href="sprint-47/intro">Suggestion engine start page</a>
    </p>
    <p>
      <a href="sprint-47/dashboard">See how the suggestion engine might be linked from the reporting service</a>
    </p>

  </div>
</div>

{% endblock %}
