{% extends "layouts/main.html" %}

{% block pageTitle %}
  Choose actions for your action plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName="Choosing actions - visualisations" %}

{% set thisPageAction = "" %}
{% for action in data.db.actions %}
  {% if action.shortCode == data.coreInteraction.action %}
    {% set thisPageAction = action %}
  {% endif %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{thisPageAction.title}}
      </h1>

      {% include "content/"+thisPageAction.shortCode+"/summary" %}

      <form action="../choose-actions-subpages" method="post">

        {{ govukRadios({
          name: "choosingActions[" + thisPageAction.shortCode + "][selected]",
          fieldset: {
            legend: {
              text: "Do you want to add this action to your action plan?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data.choosingActions[thisPageAction.shortCode].selected,
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
