{% extends "layouts/menu-bar.html" %}

{% set pageName="Supporting texts: Reduce unconscious bias in CV screening" %}
{% set serviceName="Action plan prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Supporting texts: Reduce unconscious bias in CV screening
      </h1>
      <p>Guidance: <a href="https://www.gov.uk/government/publications/reduce-unconscious-bias-in-cv-screening/reduce-unconscious-bias-in-cv-screening">Reduce unconscious bias in CV screening</a></p>

      <hr class="govuk-section-break govuk-section-break--xl">

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/3201">Chingford Academies Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/22596">Embark Multi Academy Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Recruitment system anonymises applications.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/19467">Esteem Multi-academy Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We currently use an applicant tracking system that supports removal of unconscious bias from applications and recruitment shortlisting, however, we continue to embed this over 2026/27.
        </p>
        <p class="govuk-body">
          To do this we will review current recruitment methods and compare to best practice in the sector. 
        </p>
        <p class="govuk-body">
          To encourage reduction in any gendered language in job listings (both internal and external).
        </p>
        <p class="govuk-body">
          To ensure that the schools are using the blind shortlisting correctly to reduce unconscious bias
        </p>
        <p class="govuk-body">
          Introduce and encourage use of gender-balanced panels where it&rsquo;s possible to reduce conscious and unconscious bias.
        </p>
        <p class="govuk-body">
          We will be able to track this through our recruitment system.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/40305">Fanco Ltd.</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          FANCO LTD has strengthening its recruitment processes to reduce the potential for unconscious bias during candidate screening. Applications are been assessed consistently against clearly defined skills, experience and essential criteria relevant to each role. We are promoting structured shortlisting and provide appropriate guidance to managers involved in recruitment. Recruitment outcomes is monitored by gender, including applications, shortlisting and appointments, to identify potential differences and support continuous improvement. Our aim is to ensure recruitment decisions remain fair, transparent and based on individual merit and suitability for the role.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/5447">General Traffic Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Currently rebuilding new recruitment processes to improve recruitment screening.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/5891">Halo Leisure Services Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will continue to review our recruitment practices to ensure they do not indirectly favour a particular gender.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/19506">Intellectual Property Office</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We have embedded measures to reduce the impact of unconscious bias in recruitment, including the use of blind sifting processes. Applicants are asked to remove identifiable information such as name, address, place of birth and education details from applications and CVs, helping to ensure that assessment is based on skills, experience and potential. Recruiting managers are also supported with structured guidance to promote fair and objective decision-making. These approaches help reduce the risk of bias influencing outcomes and support our commitment to equitable recruitment and progression.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/6799">Isle of Wight College</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            The College is committed to fair, objective and inclusive recruitment practices that provide equitable opportunities for all applicants. To reduce the potential for unconscious bias, all applications are anonymised during the shortlisting process, removing personal information that is not relevant to assessing suitability for the role. 
        </p>
        <p class="govuk-body">
            Recruitment and selection decisions are based on objective, role-related criteria and supported by training for recruiting managers on inclusive recruitment, fair decision-making and unconscious bias. 
        </p>
        <p class="govuk-body">
            The College will continue to review its recruitment practices to promote consistency, transparency and fairness, ensuring that talented candidates from all backgrounds have the opportunity to succeed.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/7638">Lifetime Training Group Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Our &lsquo;critical friend&rsquo; scheme, utilised at 100% of internal and external assessments, ensures hiring managers utilise EDI companions to spotlight their own biases.
        </p>
        <p class="govuk-body">
            We provide accessibility tools and adjustments for greater support.
        </p>
        <p class="govuk-body">
            We encourage candidates to remove personal details from cvs to remove unconscious bias.
        </p>
        <p class="govuk-body">
            Mandated interview and selection training, including unconscious bias training for our hiring managers, which has been completed by 87% of all hiring managers at May 2026  (target of 95%).
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/56508">Mersey View Learning Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>
      
      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/8486">Milton Keynes University Hospital NHS Foundation Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/16481">Rayleigh Schools Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            To foster inclusive recruitment across all leadership and operational tiers, the Trust has implemented the Every HR platform across all schools to enforce anonymised candidate screening for shortlisting panels.
        </p>
        <p class="govuk-body">
            Applications and supporting statements are automatically stripped of candidate names, contact details, gender, and personal data before being made available to interviewing managers. Shortlisting panels evaluate candidate submissions strictly on an anonymised, objective basis.
        </p>
        <p class="govuk-body">
            Eliminating potential unconscious bias during early-stage screening encourages a diverse candidate pool, particularly for senior teaching and leadership roles, supporting balanced progression into higher pay quartiles over time.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12195">The Ascent Academies' Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12359">The Financial Conduct Authority</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23090">The Southfield Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Reducing unconscious bias is embedded by using the following methods:
        </p>
        <p class="govuk-body">
            The HR team follow Keeping Children Safe In Education (KCSIE) legislation regarding recruitment and ensure that any protected characteristics are removed from the application form, prior to shortlisting. The Trust ensure all disabled applicants receive an interview, if they meet the essential criteria.
        </p>
        <p class="govuk-body">
            The Trust have a mixed gender panels.
        </p>
        <p class="govuk-body">
            Career breaks for raising children are considered a positive experience in building the skills required to work within our Trust Schools.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13633">West Norfolk Academies Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Remove Part 2&rsaquo;s (Personal details) from application forms before passing to recruitment lead.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23630">Woodgate and Clark Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          This issue was identified through review of our screening processes and awareness of the potential for unconscious bias at early recruitment stages. Currently, personal information such as names and nationality may be visible during CV screening. We plan to review our HR Information System (HRIS) recruitment functionality to determine whether anonymised applications can be enabled. Where system changes are not immediately possible, interim guidance will be reinforced to hiring managers to focus assessment strictly on skills, experience, and role‑related criteria.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

    </div>
  </div>

{% endblock %}
