{% extends "layouts/menu-bar.html" %}

{% set pageName="Browse published action plans" %}
{% set serviceName="Action plan prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Supportings texts: Make job descriptions inclusive
      </h1>
      <p>Guidance: <a href="https://www.gov.uk/government/publications/make-job-descriptions-inclusive/make-job-descriptions-inclusive">Make job descriptions inclusive</a></p>

      <hr class="govuk-section-break govuk-section-break--xl">

      <p class="govuk-body govuk-!-margin-bottom-2">
        Acorn Mobility Services Ltd. said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Acorn uses inclusive language in job descriptions and lists only essential requirements, promoting equal opportunities.
        </p>
        <p class="govuk-body">
          This removes unnecessary barriers that may discourage underrepresented groups from applying. By focusing on the skills genuinely needed for the role, we aim to attract a wider, more diverse talent pool. 
        </p>
        <p class="govuk-body">
          Inclusive wording also signals that we value fairness and belonging, strengthening our employer brand and helping us hire the best person for the job.
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Chingford Academies Trust said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          All job descriptions are non gender specific
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Ebor Academy Trust said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will strengthen inclusive recruitment practices across teaching and support roles by:
        </p>
        <ul>
          <li>Ensuring all job advertisements use inclusive, gender-neutral language</li>
          <li>Promoting roles in a way that supports diverse applicants, including underrepresented groups</li>
          <li>Monitoring diversity data at each stage of the recruitment process (application, shortlisting and appointment)</li>
        </ul>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Edinburgh Airport Limited said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We continually evolve our job descriptions to reflect changing priorities. All job descriptions follow a standard template, which includes a DEI statement. They will always include the salary or range, and only ask for qualifications which are absolutely necessary. This is to make roles accessible to as wide a pool as possible. We also analyse the language to ensure it is gender neutral or feminine coded, as research shows masculine coded language deters females from applying.
        </p>
      </div>


  
    </div>
  </div>

{% endblock %}
