{% extends "layouts/menu-bar.html" %}

{% set pageName="Supporting texts: Encourage applications from a range of candidates" %}
{% set serviceName="Action plan prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Supporting texts: Encourage applications from a range of candidates
      </h1>
      <p>Guidance: <a href="https://www.gov.uk/government/publications/encourage-applications-from-a-range-of-candidates/encourage-applications-from-a-range-of-candidates">Encourage applications from a range of candidates</a></p>

      <hr class="govuk-section-break govuk-section-break--xl">

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/3201">Chingford Academies Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Use MyNewTerm and all applicants welcome to apply. Equal opportunities policy promoted at each stage of the recruitment process.
        </p>
        <p class="govuk-body">
            Seek applicants with right skill set and/or ability to develop with the organisation
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/14525">Ebor Academy Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will improve our use of workforce data to inform decision-making by:
        </p>
        <ul>
          <li>Tracking gender representation across roles, grades and leadership positions</li>
          <li>Monitoring recruitment, retention, progression and turnover data</li>
          <li>Reviewing all people-related policies to ensure they are equitable and inclusive in practice</li>
        </ul>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/389">Edinburgh Airport Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          This year we have started using different jobs boards to advertise our vacancies - Diversity Jobs (LGBT, Disability, BME and Neurodiversity). This allows us to expand our reach and actively target groups of people we wish to attract. We are trialling this on a 12 month period and will monitor via our ATS to assess how many candidates select this as their source of application, and monitor the candidates progress through the recruitment process. We also actively track applications of women to roles and have done targeted outreach events for teams which are underrepresented.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/40305">Fanco Ltd.</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          FANCO LTD is committed to attracting a diverse workforce and providing equal access to employment and career opportunities. We will broaden how and where vacancies are advertised, use inclusive recruitment materials and encourage applications from groups that may be under-represented within particular roles or levels of the organisation. Appointments will continue to be based on skills, experience and suitability for the role. We will monitor applications, shortlisting and appointments by gender to identify trends, assess the effectiveness of our approach and inform future recruitment activity.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/5447">General Traffic Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Continue to review job adverts, role requirements and recruitment channels to widen attraction and encourage applications from women for roles across the business, including operational and technical roles.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/19506">Intellectual Property Office</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We are strengthening our approach to attracting diverse candidates by broadening outreach, reviewing recruitment messaging and working with networks and partners to increase visibility of opportunities. Our focus is on reducing barriers to entry and ensuring that people from underrepresented groups feel confident to apply. This includes considering how roles are presented and ensuring that our employer offer reflects inclusivity, flexibility and support. This work supports longer-term improvements in representation across grades and contributes to addressing gender pay disparities.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/6799">Isle of Wight College</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          The College is committed to attracting talent that reflects the communities we serve. Through inclusive recruitment practices, community engagement and accessible advertising, we will continue to encourage applications from a diverse range of local candidates. 
        </p>
        <p class="govuk-body">
          Building on the success of our existing approach, we will promote opportunities widely, remove unnecessary barriers to entry where possible, and showcase the College as an inclusive employer, helping to attract, develop and retain talent from across our community.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/7638">Lifetime Training Group Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Advertising our vacancies across recognised Diversity Platforms as well as standard job boards. Closely monitoring 'fill rates' versus standard job boards to ensure impact.
        </p>
        <p class="govuk-body">
          We set targets to agencies to include a representative range of candidates within shortlists and track their performance and challenge accordingly.
        </p>
        <p class="govuk-body">
          We are broadening our presence across social channels as another opportunity to reach diverse talent. We will track the impact of diversity through the use of social channels throughout 2026.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/8486">Milton Keynes University Hospital NHS Foundation Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/8672">Mott Macdonald Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            We take an evidence-led approach to attracting diverse candidates by analysing workforce data across recruitment, progression and representation to identify gaps. This informs targeted attraction strategies. We partner with professional networks, charities and specialist organisations, including STEM Returners, Flexa and myGwork, to reach underrepresented groups and promote inclusive opportunities. We also engage industry and community partners to broaden our reach beyond traditional channels. Internally, we support inclusive hiring through structured, fair recruitment processes and encourage employees to share opportunities within their networks. All candidates are assessed on merit, with clear criteria in place to minimise bias and ensure equitable outcomes.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/16077">Pick Everard</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/21189">Semco Maritime Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will take steps to improve gender balance within our offshore workforce over the long term.
        </p>
        <p class="govuk-body">
          Analyse offshore workforce data by role, grade, and discipline to identify priority areas.
        </p>
        <p class="govuk-body">
          Work with operational leaders to identify roles and career pathways where female participation can be increased.
        </p>
        <p class="govuk-body">
          Promote offshore roles more actively as viable, sustainable career options for a broader and more diverse talent pool.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/15135">Shrewsbury Colleges Group</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          There are significantly more women than men in the lowest two pay quarters.  Monitoring applicant data at key stages of the recruitment process will help us to further understand the reasons for this. We will track this action by:
        </p>
        <ul>
          <li>Monitoring the breakdown of all applicants and successful candidates by gender and other characteristics</li>
          <li>Monitoring workforce data to see where more representation is needed</li>
        </ul>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12195">The Ascent Academies' Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12359">The Financial Conduct Authority</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23090">The Southfield Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          The Trust uses are range of recruitment methods (ESCC jobs page, DfE vacancies), local job centre and recruitment charities to reach diverse candidate pools. The Trust also attends Careers Fairs and offers apprenticeships to those with special educational needs, as well as school leavers and post 25 learners who are trying to broaden their skills.
        </p>
        <p class="govuk-body">
          Forms are accessible via mobile and Microsoft forms is an option for applying for roles, ensuring IT is not a barrier.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13027">Turning Point</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will continue to promote gender diversity and equality across all roles, including our specialist clinical roles, whilst seeking to ensure equal access to opportunities for all and that roles offered provide flexible working in line with role, organisation and individual requirements.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13633">West Norfolk Academies Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Add equality and diversity statement to all job descriptions.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23630">Woodgate and Clark Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We identified that the diversity of our applicant pool may be influenced by where and how we advertise roles. Preliminary review highlighted that we have not yet formally assessed the diversity reach or inclusion commitments of all job boards and advertising channels we use. To address this, we will conduct a review of our recruitment advertising platforms to assess audience reach, diversity credentials and alignment with our inclusion aims, and will take action to broaden advertising where appropriate to improve access for candidates from different backgrounds.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Planned</strong>
        </p>
      </div>

    </div>
  </div>

{% endblock %}
