{% extends "layouts/menu-bar.html" %}

{% set pageName="Supporting texts: Make job descriptions inclusive" %}
{% set serviceName="Action plan prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Supporting texts: Make job descriptions inclusive
      </h1>
      <p>Guidance: <a href="https://www.gov.uk/government/publications/make-job-descriptions-inclusive/make-job-descriptions-inclusive">Make job descriptions inclusive</a></p>

      <hr class="govuk-section-break govuk-section-break--xl">

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/862">Acorn Mobility Services Ltd.</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Acorn uses inclusive language in job descriptions and lists only essential requirements, promoting equal opportunities.
        </p>
        <p class="govuk-body">
          This removes unnecessary barriers that may discourage underrepresented groups from applying. By focusing on the skills genuinely needed for the role, we aim to attract a wider, more diverse talent pool. 
        </p>
        <p class="govuk-body">
          Inclusive wording also signals that we value fairness and belonging, strengthening our employer brand and helping us hire the best person for the job.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/3201">Chingford Academies Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          All job descriptions are non gender specific
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/14525">Ebor Academy Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We will strengthen inclusive recruitment practices across teaching and support roles by:
        </p>
        <ul>
          <li>Ensuring all job advertisements use inclusive, gender-neutral language</li>
          <li>Promoting roles in a way that supports diverse applicants, including underrepresented groups</li>
          <li>Monitoring diversity data at each stage of the recruitment process (application, shortlisting and appointment)</li>
        </ul>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">New or in progress</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/389">Edinburgh Airport Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We continually evolve our job descriptions to reflect changing priorities. All job descriptions follow a standard template, which includes a DEI statement. They will always include the salary or range, and only ask for qualifications which are absolutely necessary. This is to make roles accessible to as wide a pool as possible. We also analyse the language to ensure it is gender neutral or feminine coded, as research shows masculine coded language deters females from applying.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/40305">Fanco Ltd.</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          FANCO LTD is committed to ensuring our recruitment processes provide equal opportunities for all candidates. We are reviewing and improving job descriptions to use inclusive, gender-neutral language and ensure requirements are limited to those genuinely necessary for each role. We will clearly communicate our commitment to equality and encourage applications from suitably qualified candidates from all backgrounds. We will monitor recruitment outcomes, including applications, shortlisting and appointments by gender, to identify potential barriers and support continuous improvement in our recruitment practices.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/56013">Focus Care Supported Living Ltd.</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Promoting Diversity and Inclusion: Continued efforts will be made to support a diverse and inclusive workplace through fair recruitment, promotion, and pay practices.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/5447">General Traffic Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          Continue to review job adverts, role requirements and recruitment channels to widen attraction and encourage applications from women for roles across the business, including operational and technical roles.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/19506">Intellectual Property Office</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          We have embedded inclusive job design principles across the organisation to ensure roles are accessible and appealing to a diverse range of candidates. This includes using gender-neutral language, clearly outlining essential criteria, and avoiding unnecessary barriers. We regularly review job descriptions to ensure they reflect modern working practices, including flexibility and wellbeing considerations. This approach supports our commitment to attracting and retaining talent from all backgrounds and contributes to reducing structural inequalities that can impact the gender pay gap.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/6799">Isle of Wight College</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            The College is committed to ensuring all job descriptions, person specifications and recruitment materials use inclusive language, focus on essential criteria and promote equality of opportunity. 
        </p>
        <p class="govuk-body">
            Through regular review of recruitment practices, we aim to attract diverse talent, reduce barriers to employment and ensure opportunities are accessible to all applicants, supporting a more inclusive and representative workforce.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/7638">Lifetime Training Group Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Utilising EDI checking tools to remove biased language within our job description templates.
        </p>
        <p class="govuk-body">
            Created an EDI section within job descriptions and adverts to highlight our inclusivity commitments and flexibility. Signposting our leave policies detailed within our Lifetime Group careers page for further information.
        </p>
        <p class="govuk-body">
            69% of the Lifetime Group workforce are female and 58% of management level are female, evidencing strong representation across the Group. We recognise that hiring is an important gateway to broadening the diversity of our workforce. Monitoring demographics of candidates from application through to hire evidences that we are strong at hiring female applicants.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/56508">Mersey View Learning Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/8486">Milton Keynes University Hospital NHS Foundation Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/8672">Mott Macdonald Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            We removed the blanket 2:1 degree requirement for most entry roles so that applications are judged purely on skills and potential.  We have also targeted non-Russell unis and have partnered with diverse talent schemes to widen our candidate pool, and we routinely review our job descriptions with “gender decoders” and inclusive language to avoid unconscious barriers. We also offer inclusive recruitment guidance and training that gives insight on how to draft inclusive job descriptions
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/16077">Pick Everard</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/21189">Semco Maritime Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Our actions focus on addressing the root causes of our gender pay gap, with particular emphasis on the male dominated nature of our offshore workforce.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">New or in progress</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12195">The Ascent Academies' Trust</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/12359">The Financial Conduct Authority</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            We continue to improve our recruitment practices and processes, including reviewing job descriptions and adverts to make sure they are inclusive. See here for further details: https://www.fca.org.uk/about/diversity-equity-and-inclusion-our-progress/gender-pay-gap-action-plan
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">New or in progress</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23090">The Southfield Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            The Southfield Trust ensures all adverts include a clear Equal Opportunities statement, confirming the Trust’s commitment to:
        </p>
        <p class="govuk-body">
            Non-discrimination, promoting diversity in the workforce and the safeguarding and promoting the welfare of children.
        </p>
        <p class="govuk-body">
            Adverts are written using:
        </p>
        <p class="govuk-body">
            Gender-neutral language, clear descriptions to avoid excluding candidates unfamiliar with terminology. There is a clear focus on skills and behaviours rather than unnecessary requirements.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13027">Turning Point</a>:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13633">West Norfolk Academies Trust</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            Add equality and diversity statement to all job descriptions.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">New or in progress</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/23630">Woodgate and Clark Limited</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            We identified inclusive language as a potential barrier to attracting diverse candidates through an internal review of our recruitment approach and external good‑practice guidance. Our Applicant Tracking System (ATS) includes built‑in bias and gender‑coded language detection, which is used when drafting and publishing job descriptions and adverts. This ensures potentially exclusionary language is flagged and amended before roles are advertised. This approach is now embedded as standard practice to help widen appeal and reduce unintended bias at the attraction stage.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--yellow">Embedded</strong>
        </p>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="https://gender-pay-gap.service.gov.uk/employers/13971">Wyre Forest District Council</a> said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-body">
            After reviewing our latest gender pay data, we have identified that roles within our upper middle quartile are predominantly filled by women. When analysing our recruitment data for the last 2 years, those same roles have applications that are almost 70% female compared to just over 30% male. 
        </p>
        <p class="govuk-body">
            We therefore intend to utilise AI and ATS functionality to ensure our job adverts and role profiles do not contain language or phrases that would be considered to have gender bias in the hope that will create a more equal ratio of applicants.
        </p>
        <p class="govuk-body">
          <strong class="govuk-tag govuk-tag--green">New or in progress</strong>
        </p>
      </div>

    </div>
  </div>

{% endblock %}
