{% extends "layouts/menu-bar.html" %}

{% set pageName="Browse published action plans" %}
{% set serviceName="Action plan prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Browse supporting texts
      </h1>
      
      <h2 class="govuk-heading-m">Recruiting staff</h2>
      <ul>
        <li><a href="browse-action-text1">Make job descriptions inclusive</a></li>
        <li><a href="browse-action-text2">Encourage applications from a range of candidates</a></li>
        <li>Reduce unconscious bias in CV screening</li>
        <li>Use fair and structured interview techniques</li>
        <li>Advertise leave policies in job adverts</li>
        <li>Advertise flexible working arrangements in job adverts</li>
      </ul>

      <h2 class="govuk-heading-m">Developing and promoting staff</h2>
      <ul>
        <li>Automatically consider eligible employees for promotion</li>
        <li>Encourage employee development through actionable steps</li>
        <li>Offer mentoring, sponsorship and other development programmes</li>
      </ul>

      <h2 class="govuk-heading-m">Building diversity into your organisation</h2>
      <ul>
        <li>Set targets to improve gender representation</li>
      </ul>

      <h2 class="govuk-heading-m">Increasing transparency</h2>
      <ul>
        <li>Increase transparency for pay, promotion and rewards</li>
        <li>Enhance and promote flexible working and leave policies</li>
      </ul>

      <h2 class="govuk-heading-m">Supporting employees experiencing menopause</h2>
      <ul>
        <li>Train managers to support employees experiencing menopause</li>
        <li>Offer occupational health advice for employees experiencing menopause</li>
        <li>Set up menopause support groups and networks</li>
        <li>Offer workplace adjustments for employees experiencing menopause</li>
        <li>Conduct a menopause risk assessment for your workplace</li>
        <li>Review policies and procedures to meet the needs of employees experiencing menopause</li>
      </ul>

    </div>
  </div>

{% endblock %}
