<p>
  In 2013, the Institute for Employment Studies explored
  <a href="https://www.gov.uk/government/publications/case-studies-on-pay-progression">pay progression mechanisms</a>
  &mdash; the process by which someone moves up their pay range. The purpose of
  the research was to increase understanding of how they work, and how they have
  been modernised.
</p>
<p>
  Six organisations agreed to participate in the research, including the Met
  Office, Dixons Retail Plc, a county council, university, and a large unnamed
  financial organisation. 
</p>
<p>
  Five of the case studies had implemented change to their pay progression system
  within the last 5 to 6 years. The county council is currently negotiating a
  proposed change with its trade union. The finance organisation considered
  implementing change to its pay progression system but withdrew its proposals.
</p>
