<p>
  In organisations where transparency is low, employees often don’t know what is
  needed to get a promotion, a pay rise or a high-profile assignment, or how
  these decisions are made. According to research, this lack of transparency is
  particularly damaging to women, who then may be less likely to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    put themselves forward if selection criteria are ambiguous
  </li>
  <li>
    have access to senior leaders and sponsors who can help them in the absence
    of clear policies and processes
  </li>
</ul>
<p>
  Women are also more concerned with the potential of backlash if they question
  a decision around pay or progression. This is backed up by research which
  shows women are more likely to experience this backlash than men.
</p>
<p>
  Transparency creates accountability. Without it, bias is more likely to affect
  decision-making in ways that potentially disadvantage women or other
  under-represented groups.
</p>
<p>
  Without transparency,
  <a href="https://www.researchgate.net/publication/275220276_Accounting_for_the_Gap_A_Firm_Study_Manipulating_Organizational_Accountability_and_Transparency_in_Pay_Decisions">disparities or biases in decision-making are harder to notice</a>
  and to correct, allowing them to continue undetected.
</p>
