<p>Step 1</p>
<p>
  Review your organisation’s HR processes related to promotion, progression, and
  pay and reward. Identify any which are currently not sufficiently clear and
  transparent.
</p>
<p>
  Also review non-HR processes that could be more transparent. These include the
  processes for allocating high-profile assignments or key accounts, and for
  allocating development opportunities, such as being selected for certain
  training or schemes.
</p>
<p>Step 2</p>
<p>
  Speak with a wide range of employees. Once you choose which processes to make
  more transparent, you may decide to review the criteria and devise a new
  policy, or make improvements to current ones. Involve a diverse group in the
  design of new processes.
</p>
<p>
  If your group is too small or not diverse enough, then it will not include a
  diverse range of perspectives. Groups whose perspectives are not included may
  end up disadvantaged by the new process. A new policy is also more likely to
  be accepted and perceived as fair if a wide range of employees has been
  consulted during its development.
</p>
<p>Step 3</p>
<p>
  Make both the eligibility criteria and the decision-making process transparent
  in policies. Eligibility criteria explain who can apply for a particular role
  or promotion. The decision making process is the process then used to decide
  which of the eligible applicants will be chosen for the role or promotion.
</p>
<p>
  For example, if eligibility criteria is clear, but staff are not made aware of
  opportunities, or how the decision about whether to promote someone or not is
  made, the promotion policy as a whole will not be perceived as fair. Also, if
  the decision-making process for promotions is transparent, but the criteria
  for being considered in the first place are not, you will face the same issue.
</p>
<p>Step 4</p>
<p>
  Give employees the opportunity to ask questions if they feel that a process
  has not been followed. Make clear who will be responsible for responding.
</p>
<p>
  Monitor transparency regularly through staff surveys to get opinions on what
  is working and what needs improvement.
</p>
<p>
  Use internal reward and performance data to monitor for unequal outcomes, such
  as lower rewards being given to women and minorities, even when their
  performance is as good as that of people who received higher rewards.
</p>
<p>
  Hold managers accountable if they score low on transparency, or if there are
  unequal outcomes in their teams. This means giving regular feedback on how
  they are doing, or linking transparency and equality of outcomes to rewards.
</p>
<p>Step 5</p>
<p>
  You may wish to make public some overarching pay and progression policies. For
  example, you could include pay bands on job adverts.
</p>
<p>
  Consider publishing other policies, such as parental leave or flexible working
  policies to help attract and retain a diversity of high-performing staff.
</p>
