<p>
  Transparency in organisations is about letting employees know the criteria and
  processes for decision-making in:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>career progression</li>
  <li>salary setting</li>
  <li>pay and performance reviews</li>
</ul>
<p>
  Being transparent simply means being clear and open about how these decisions
  are made. It doesn’t have to mean revealing all employees’ pay and reward
  processes to everyone within the organisation, although some organisations do
  choose to do this, which is sometimes referred to as ‘radical transparency’.
</p>
