{% extends "layouts/menu-bar.html" %}

{% set pageName="Introduction to action plans" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Equality action plans
      </h1>
      <p>
        From April 2027, organisations with over 250 employees must submit an action
        plan with their gender pay gap report. This plan must show how you will:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>reduce your gender pay gap</li>
        <li>improve gender equality in your organisation</li>
      </ul>
      <div class="govuk-inset-text">
        <a href="#" class="govuk-link">
          Read more about creating an equality action plan on GOV.UK.
        </a>
      </div>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>
        You should make sure you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>know which actions you will be selecting</li>
        <li>have prepared your supporting text</li>
      </ul>
      <p>
        You need to select at least 2 new actions in your first action plan.
      </p>
      <p>
        You can also add:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>supporting text for each action – this should explain what your organisation is doing or plans to do in this area</li>
        <li>a supporting narrative for your overall action plan – this should give any background information including your organisation’s objectives for equality, diversity and inclusion</li>
      </ul>

      {{ govukButton({
        text: "Continue",
        href: "actions-list"
      }) }}
  
    </div>
  </div>

{% endblock %}
