{% extends "layouts/menu-bar.html" %}

{% set pageName="Introduction to action plans" %}
{% set serviceName="MVP action plan journey" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Action plans
      </h1>

      <p>
        From 2027 onwards, if you have over 250 employees, you must submit an
        action plan alongside your gender pay gap report. This action plan must
        show how you intend to address your gender pay gap, and to support
        employees going through the menopause. (In future years, you will
        conduct a review of your existing plan rather than creating a new one
        from scratch.)
      </p>
      <p>
        The actions on your plan must be selected from our list of actions, all
        of which are backed by evidence demonstrating their effectiveness.
      </p>
      <p>
        This service will guide you through the selection of actions for your plan.
      </p>

      {{ govukCheckboxes({
        items: [
          {
            value: "dont-show-again",
            text: "Don't show this explanation again"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "best-practice-checklist",
        isStartButton: true
      }) }}
  
    </div>
  </div>

{% endblock %}
