{% extends "layouts/menu-bar.html" %}

{% set pageName="Actions list" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Create your action plan
      </h1>

      <p>
        Below is the list of actions you can choose from.
        For each action, we will ask if your organisation:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is already doing it as part of its working culture</li>
        <li>is doing it but not routinely</li>
        <li>wants to include it in your action plan – you plan to start doing it in the next year</li>
        <li>does not want to include it in your action plan</li>
      </ul>
      <p>
        You must add a status for every action. You can also add a 
        supporting narrative for each action to explain what your organisation 
        is doing or plans to do in this area.
      </p>

      <p>
        Your plan must include actions with which you can show further progress. 
        For example, if your organisation is updating its workplace flexibility 
        practices then this can be included. Actions already fully embedded 
        within your organisation and not currently being progressed do not count 
        for this purpose.
      </p>
      <p>Your action plan must include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>at least one action from the ‘Supporting staff during menopause’ category</li>
        <li>at least one action from any other category, for example ‘Creating a more flexible workplace’</li>
      </ul>

      <p>You will be able to review and edit your full action plan before you submit it.</p>

      <p class="review-note">
        In the real service users will have to assess every action in every
        category. To save time for those using the prototype, this is not
        enforced here! Actions or categories you skip will be treated as
        &ldquo;not pursuing currently&rdquo;.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      <form class="govuk-!-margin-top-4" action="provisional-plan" method="post">

        {% set journeyShortCode = "endToEndMVP" %}
        {% set creatingNewActionPlan = true %}
        {% set showEmptyCategories = true %}
        {% set assessWholeCategoryAtOnce = false %}
        {% set unsubmittedLinkText = "Add status" %}
        {% set editUrl = "action-details" %}
        {% set excludeCategory = "data" %}
        {% include "common/categorised-action-plan.html" %}

        <input type="hidden" name="endToEndMVP[provisionalPlanSubmitted]" value="true">
        <input type="hidden" name="endToEndMVP[planValidationFailure]" value="false">

        <p class="govuk-body">
          When you are ready, continue to review your provisional action plan.
        </p>

        {{ govukButton({
          text: "Review provisional plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
