{% extends "layouts/menu-bar.html" %}

{% set pageName="Action details" %}
{% set serviceName="MVP action plan journey" %}

{% set thisPageAction = {} %}
{% for action in data.db.actions %}
  {% if action.shortCode == data.actionShortCode %}
    {% set thisPageAction = action %}
  {% endif %}
{% endfor %}

{% set journeyShortCode = "endToEndMVPAnnualReview" if data.endToEndMVP.annualReview == "true" else "endToEndMVP" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{thisPageAction.title}}
      </h1>

      {% include "content/"+thisPageAction.shortCode+"/summary" %}

      {% set formAction = "annual-review-update-action-plan" if data.endToEndMVP.annualReview == "true" else "actions-list" %}
      <form action="{{formAction}}" method="post">

        {{ govukRadios({
          name: journeyShortCode + "[" + thisPageAction.shortCode + "][status]",
          fieldset: {
            legend: {
              text: "How is your organisation progressing with this practice?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data[journeyShortCode][thisPageAction.shortCode].status,
          items: [
            {
              value: "embedded",
              text: "We have already embedded this in our working culture"
            },
            {
              value: "in-progress",
              text: "We are working on embedding this but it is not yet routine",
              hint: {
                text: "Continuing work on this will count as an action on your action plan."
              }
            },
            {
              value: "adopt",
              text: "We would like to consider this practice - provisionally add it to our action plan",
              hint: {
                text: "You will be able to review your plan and change this choice before submitting it."
              }
            },
            {
              value: "ignore",
              text: "We are not currently pursuing this practice"
            }
          ]
        }) }}

        {{ govukTextarea({
          id: journeyShortCode + "[" + thisPageAction.shortCode + "][narrative]",
          name: journeyShortCode + "[" + thisPageAction.shortCode + "][narrative]",
          label: {
            text: "Supporting narrative",
            classes: "govuk-label--s"
          },
          hint: {
            text: "If you would like to give more details, you can do so here"
          },
          value: data[journeyShortCode][thisPageAction.shortCode].narrative
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
