{% extends "layouts/menu-bar.html" %}

{% set pageName="Action details" %}
{% set serviceName="MVP action plan journey" %}

{% set thisPageAction = {} %}
{% for action in data.db.actions %}
  {% if action.shortCode == data.actionShortCode %}
    {% set thisPageAction = action %}
  {% endif %}
{% endfor %}

{% set annualReview = data.endToEndMVP.lifecycleStage == "annualReview" %}
{% set threeYearReview = data.endToEndMVP.lifecycleStage == "threeYearReview" %}

{% set journeyShortCode = "endToEndMVP" + (data.endToEndMVP.lifecycleStage or "") %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan three-year review 2027/28" if threeYearReview
          else ("Action plan annual review 2025/26" if annualReview
            else "Action plan 2024/25")
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{thisPageAction.title}}
      </h1>

      <p>
        {{thisPageAction.summary}}
      </p>

      <p class="govuk-!-margin-bottom-8">
        For more information,
        <a href="action-guidance">see the full guidance for this action</a>.
      </p>

      {% set formAction = "annual-review-update-action-plan" if data.endToEndMVP.lifecycleStage == "annualReview"
        else ("actions-list") %}
      <form action="{{formAction}}" method="post">

        {{ govukRadios({
          name: journeyShortCode + "[" + thisPageAction.shortCode + "][status]",
          fieldset: {
            legend: {
              text: "Choose a status for this action",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data[journeyShortCode][thisPageAction.shortCode].status,
          items: [
            {
              value: "adopt",
              text: "New or in progress"
            },
            {
              value: "embedded",
              text: "Completed"
            },
            {
              divider: "or"
            },
            {
              value: "ignore",
              text: "Do not add to action plan"
            }
          ]
        }) }}

        {% set narrativeHintContent %}
          <div id="narrative-hint--add-to-plan" style="display: none;">
            <div class="govuk-hint govuk-!-margin-bottom-2">
              Use this section to add further details about:
            </div>
            <ul class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
              <li>why your organisation has chosen this action</li>
              <li>how you plan to implement this action or build on what you are doing</li>
              <li>some of the challenges involved</li>
              <li>how you plan to track progress</li>
            </ul>
          </div>

          <div id="narrative-hint--completed" style="display: none;">
            <div class="govuk-hint govuk-!-margin-bottom-2">
              Use this section to add further details about:
            </div>
            <ul class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
              <li>how your organisation implemented this action</li>
              <li>some of the challenges you faced</li>
              <li>how you tracked progress</li>
              <li>what the results were</li>
            </ul>
          </div>

          <div class="govuk-hint">
            This section is optional.
            The information you write here will be published alongside the data you report on the gender pay gap service.
          </div>
        {% endset %}

        {{ govukTextarea({
          id: journeyShortCode + "[" + thisPageAction.shortCode + "][narrative]",
          name: journeyShortCode + "[" + thisPageAction.shortCode + "][narrative]",
          label: {
            text: "Supporting narrative",
            classes: "govuk-label--s"
          },
          hint: {
            html: narrativeHintContent
          },
          value: data[journeyShortCode][thisPageAction.shortCode].narrative
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <script>
          (function(){
            const shortCode = "{{thisPageAction.shortCode}}";

            function updateNarrativeHint() {
              const statusRadios = document.getElementsByName("{{journeyShortCode}}[" + shortCode + "][status]");
              let selectedValue = null;
              for (const radio of statusRadios) {
                if (radio.checked) {
                  selectedValue = radio.value;
                  break;
                }
              }

              const hintCompleted = document.getElementById("narrative-hint--completed");
              hintCompleted.style.display = selectedValue === "embedded" ? "block" : "none";

              const hintAddToPlan = document.getElementById("narrative-hint--add-to-plan");
              hintAddToPlan.style.display = selectedValue === "adopt" ? "block" : "none";
            }

            const statusRadios = document.getElementsByName("{{journeyShortCode}}[" + shortCode + "][status]");
            for (const radio of statusRadios) {
              radio.addEventListener("change", updateNarrativeHint);
            }

            updateNarrativeHint();
          })();
        </script>

      </form>

    </div>
  </div>

{% endblock %}
