{% extends "layouts/menu-bar.html" %}

{% set pageName="Introduction to action plans" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Action plans
      </h1>

      <p>
        From April 2027, organisations with over 250 employees must submit an action
        plan with their gender pay gap report. This plan must show how you will:

        <ul class="govuk-list govuk-list--bullet">
          <li>reduce your gender pay gap
          </li>
          <li>improve gender equality in your organisation
          </li>
        </ul>
      
      <p>
        You must choose from our list of actions. These are backed by evidence which demonstrates their effectiveness.      
        </p>
      </p>

      <p>
      <div class="govuk-inset-text">
[Read more about action plans on GOV.UK].
</div></p>

<h2 class="govuk-heading-m">
        Creating your action plan
      </h2>



          <p>
            You must choose at least 2 new actions in your first action plan.
          </p>

      <p>
        Your action plan must include at least one action from:
      </p>

      <ul class="govuk-list govuk-list--bullet">
          <li>the ‘Supporting staff wellbeing’ category
          </li>
          <li>any other category, for example ‘Developing and promoting staff’
          </li>
        </ul>

         <p>
        You can also add additional detail for each action to explain what your organisation is doing or plans to do in this area.

      </p>

      <h2 class="govuk-heading-m">
        What counts as an action
      </h2>

      <p>
        New actions are either:
      </p>

      <ul class="govuk-list govuk-list--bullet">
          <li>those you plan to start in the next reporting year
          </li>
          <li>those you are already doing, but will be actively working to improve in the next reporting year
          </li>
        </ul>

         <p>
        You must be able to show progress on the actions you choose.
      </p>

       <p>
        Actions you are already doing do not count for the plan, unless you will be actively working to improve them. For example, if your organisation is updating its workplace flexibility practices then this can be included. You can still refer to them to give a more complete picture of what you are working on.
      </p>



      {{ govukCheckboxes({
        items: [
          {
            value: "dont-show-again",
            text: "Don't show this explanation again"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Create your action plan",
        href: "actions-list?endToEndMVP[provisionalPlanSubmitted]=false",
        isStartButton: true
      }) }}
  
    </div>
  </div>

{% endblock %}
