{% extends "layouts/menu-bar.html" %}

{% set pageName="Add actions to your provisional plan" %}
{% set serviceName="MVP action plan journey" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Add actions to your provisional plan
    </h1>

    <p>
      All of our recommended actions that are not yet in your plan are listed
      below. Select any that you would like to add to your plan.
    </p>

    {% set formAction = "annual-review-update-action-plan" if data.endToEndMVP.lifecycleStage == "annualReview" else "provisional-plan" %}
    <form class="form" action="{{formAction}}" method="post">

      {% set journeyShortCode = "endToEndMVP" + data.endToEndMVP.lifecycleStage %}
      {% set addingToExistingPlan = true %}
      {% set useSubmittedPlanData = data.endToEndMVP.lifecycleStage != "annualReview" %}
      {% set excludeCategory = "data" %}

      {% include "common/action-checklist-details.html" %}

      <input type="hidden" name="endToEndMVP[planValidationFailure]" value="false">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add selected actions to plan"
        }) }}
        {{ govukButton({
          text: "Go back without adding any actions",
          classes: "govuk-button--secondary",
          href: formAction + ("?endToEndMVP[planValidationFailure]=false" if data.endToEndMVP.lifecycleStage != "annualReview" else "")
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
