{% extends "layouts/menu-bar.html" %}

{% set pageName="Add actions to your " + ("provisional " if not data.endToEndMVP.lifecycleStage or data.endToEndMVP.lifecycleStage == "" else "") + "plan" %}
{% set serviceName="MVP action plan journey" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Add actions to your {{"provisional " if not data.endToEndMVP.lifecycleStage or data.endToEndMVP.lifecycleStage == ""}}plan
    </h1>

    <p>
      All of our recommended actions that are not yet in your plan are listed
      below. Select any that you would like to add to your plan.
    </p>

    {% set formAction = "three-year-review-check-your-evaluation" if data.endToEndMVP.lifecycleStage == "threeYearReview"
      else ("annual-review-update-action-plan" if data.endToEndMVP.lifecycleStage == "annualReview" else "provisional-plan") %}
    <form class="form" action="{{formAction}}" method="post">

      {% set journeyShortCode = "endToEndMVP" + (data.endToEndMVP.lifecycleStage or "") %}
      {% set addingToExistingPlan = true %}
      {% set useSubmittedPlanData = (not data.endToEndMVP.lifecycleStage or data.endToEndMVP.lifecycleStage == "") %}
      {% set excludeCategory = "data" %}

      {% include "common/action-checklist-details.html" %}

      <input type="hidden" name="endToEndMVP[planValidationFailure]" value="false">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add selected actions to plan"
        }) }}
        {% if data.endToEndMVP.lifecycleStage != "threeYearReview" %}
          {{ govukButton({
            text: "Go back without adding any actions",
            classes: "govuk-button--secondary",
            href: formAction + ("?endToEndMVP[planValidationFailure]=false" if data.endToEndMVP.lifecycleStage != "annualReview" else "")
          }) }}
        {% endif %}
      </div>

    </form>

  </div>
</div>

{% endblock %}
