{% extends "layouts/menu-bar.html" %}

{% set pageName="Provisional action plan" %}
{% set serviceName="MVP action plan journey" %}

{% set errorHtml %}
  <p class="error">
    You must select at least one action from the &ldquo;Support during
    menopause&rdquo; category and at least one action from any other category.
  </p>
  <br />
  <p class="error">
    Actions that are already fully embedded do not count for this purpose. Your
    plan must have actions with which you can make further progress.
  </p>
{% endset %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024-25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Your provisional action plan
      </h1>

      {% if data.endToEndMVP.planValidationFailure == "true" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              html: errorHtml
            }
          ]
        }) }}
      {% endif %}

      <p>
        Before you can publish your plan, it must have:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          at least one action from the &ldquo;Support during menopause&rdquo; category
        </li>
        <li>
          at least one action from any other category
        </li>
      </ul>

      <p>
        For a full explanation, please
        <a href="#">see the guidance on the action plan regulations</a>.
      </p>

      <p>
        Actions that are already fully embedded do not count for this purpose. Your
        plan must have actions with which you can make further progress.
      </p>

      {{ govukInsetText({
        text: "This plan is saved in your account so you can log out and come"
          + " back to it later, but it is not yet published on the service."
      }) }}

      {{ govukButton({
        text: "Add more actions",
        href: "add-actions",
        classes: "govuk-button--secondary"
      }) }}

    </div>
    <form class="govuk-!-margin-top-4" action="publish-provisional-plan" method="post">

      <div class="govuk-grid-column-full">

        {% set journeyShortCode = "endToEndMVP" %}
        {% set creatingNewActionPlan = true %}
        {% set showEmptyCategories = false %}
        {% set onlyShowSelectedActions = true %}
        {% set assessWholeCategoryAtOnce = false %}
        {% set unsubmittedLinkText = "Add status for this action" %}
        {% set editUrl = "action-details" %}
        {% set excludeCategory = "data" %}
        {% include "common/categorised-action-plan.html" %}

      </div>
      <div class="govuk-grid-column-two-thirds">

        {{ govukInsetText({
          text: "When you publish your plan it will be publicly visible on this"
            + " service. You will still be able to edit it.",
          classes: "govuk-!-margin-top-0"
        }) }}

        {{ govukButton({
          text: "Publish action plan"
        }) }}

      </div>

    </form>
  </div>

{% endblock %}
