{% extends "layouts/menu-bar.html" %}

{% set pageName="Provisional action plan" %}
{% set serviceName="MVP action plan journey" %}

{% set errorHtml %}
  <p class="error">
    You must select at least one action from the &lsquo;Support during
    menopause&rsquo; category and at least one action from any other category.
  </p>
  <br />
  <p class="error">
    Actions that are already fully embedded do not count for this purpose. Your
    plan must have actions with which you can make further progress.
  </p>
{% endset %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Provisional action plan 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% set actionPlanExplanation %}
  <p>
    Any employer who has a headcount of 250 or more on their ‘snapshot date’ at
    the end of the financial year must submit an action plan outlining how they
    intend to address the gender pay gap and to support employees going through
    menopause.
  </p>
  <p>
    Employers review actions from our database, identify any they already routinely
    do, and choose some new actions to focus on. You can also
    <a href="#">see the full list of actions in our database</a>.
  </p>
  <p>
    For more detail on the process, see the
    <a href="#">gender pay gap and action plan guidance</a>.
  </p>
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-9">
        <span class="govuk-caption-l">
          {{data.db.company.name}}
        </span>
        <h1 class="govuk-heading-l">
          Your provisional action plan 2024/25
        </h1>

        <p>
          This plan is saved in your account but not yet published on the service. You can log out and come back to it at any time.
        </p>
        <p>
          When you publish your plan, it will be publicly visible on this service. You will still be able to edit it.
        </p>

        {% if data.endToEndMVP.planValidationFailure == "true" %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                html: errorHtml
              }
            ]
          }) }}
        {% endif %}

        <form class="govuk-!-margin-top-4" action="publish-provisional-plan" method="post">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Return to " + data.db.company.name,
              href: "dashboard",
              classes: "govuk-button--secondary"
            }) }}
            {{ govukButton({
              text: "Edit your action plan or add more actions",
              href: "actions-list",
              classes: "govuk-button--secondary"
            }) }}
            {{ govukButton({
              text: "Publish your action plan"
            }) }}
          </div>
        </form>
      </div>


      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Action plan 2024/25
      </h1>

      <h2 class="govuk-heading-m">Contents</h2>

      <ol class="govuk-list govuk-list--number">
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#actions-planned">Actions planned</a></li>
        <li><a href="#actions-completed">Actions completed</a></li>
        <li><a href="#about">About {{thisPageEmployer.name}}</a></li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 id="intro" class="govuk-heading-m">1. Introduction</h2>

      {{ govukDetails({
        summaryText: "What is an action plan?",
        html: actionPlanExplanation
      }) }}

      <p class="govuk-body govuk-!-margin-bottom-2">
        {{data.db.company.name}} said:
      </p>
      <div class="govuk-inset-text govuk-!-margin-top-2">
        {% if data[journeyShortCode].narrative %}
          {{data[journeyShortCode].narrative}}
        {% else %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        {% endif %}
      </div>
      <p>
        Read more about
        <a href="{{ data[journeyShortCode].narrativeLink if data[journeyShortCode].narrativeLink else '#' }}">
          what {{data.db.company.name}} says about their pay gaps (opens in a new window)
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 id="actions-planned" class="govuk-heading-m">2. Actions planned</h2>
      <p>{{data.db.company.name}} has committed to embedding these actions:</p>

      {% for action in data.db.actions %}
        {% if data['endToEndMVP'][action.shortCode].status == "adopt" or data['endToEndMVP'][action.shortCode].status == "in-progress" %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            {{ action.title }}
          </h3>

          {% for action in data.db.actions %}
            {% if action.shortCode == data.actionShortCode %}
              <p>{{ action.summary }}</p>
            {% endif %}
          {% endfor %}

          {% if data['endToEndMVP'][action.shortCode].narrative %}
            <p class="govuk-body govuk-!-margin-bottom-2">
              {{data.db.company.name}} said:
            </p>
            <div class="govuk-inset-text govuk-!-margin-top-2">
              {{ data['endToEndMVP'][action.shortCode].narrative }}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 id="actions-completed" class="govuk-heading-m">3. Actions already completed</h2>
      <p>This section explains what {{data.db.company.name}} have already done and plan to do on workplace equality.</p>

      {% for action in data.db.actions %}
        {% if data['endToEndMVP'][action.shortCode].status == "embedded" %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            {{ action.title }}
          </h3>

          {% for action in data.db.actions %}
            {% if action.shortCode == data.actionShortCode %}
              <p>{{ action.summary }}</p>
            {% endif %}
          {% endfor %}

          {% if data['endToEndMVP'][action.shortCode].narrative %}
            <p class="govuk-body govuk-!-margin-bottom-2">
              {{data.db.company.name}} said:
            </p>
            <div class="govuk-inset-text govuk-!-margin-top-2">
              {{ data['endToEndMVP'][action.shortCode].narrative }}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 id="about" class="govuk-heading-m">4. About {{data.db.company.name}}</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Registered address"
            },
            value: {
              text: "Scranton Business Park, 1725 Slough Avenue, Scranton, Pennsylvania"
            }
          },
          {
            key: {
              text: "Sector"
            },
            value: {
              text: "Manufacturing"
            }
          },
          {
            key: {
              text: "Snapshot date"
            },
            value: {
              text: "5 April 2025"
            }
          },
          {
            key: {
              text: "Employee headcount"
            },
            value: {
              text: "500 to 999 employees"
            }
          },
          {
            key: {
              text: "Person responsible"
            },
            value: {
              text: "Toby Flenderson (HR manager)"
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
