{% extends "layouts/menu-bar.html" %}

{% set pageName="Published action plan" %}
{% set serviceName="MVP action plan journey" %}

{% set numberOfActions = 0 %}
{% set numberOfCategories = 0 %}
{% for category in data.db.actionCategories %}
  {% set categoryHasActions = false %}

  {% for action in data.db.actions %}
    {% if action.category == category.shortCode %}
      {% set submittedStatus = data.endToEndMVP[action.shortCode].status %}

      {% if submittedStatus and submittedStatus != "ignore" %}
        {% set numberOfActions = numberOfActions + 1 %}
        {% set categoryHasActions = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if categoryHasActions %}
    {% set numberOfCategories = numberOfCategories + 1 %}
  {% endif %}
{% endfor %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home page",
        href: "#"
      },
      {
        text: "Your employers",
        href: "#"
      },
      {
        text: data.db.company.name,
        href: "#"
      },
      {
        text: "Action plan"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Your action plan
      </h1>

      <p>
        Your action plan contains {{numberOfActions}} actions across
        {{numberOfCategories}} categories.
      </p>

      <p>
        You can also see
        <a href="#">your action plan history</a>.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      {% set journeyShortCode = "endToEndMVP" %}
      {% set creatingNewActionPlan = true %}
      {# The above is not really the case but we want to use submitted data, not DB data #}
      {% set onlyShowSelectedActions = true %}
      {% set viewOnly = true %}
      {% set excludeCategory = "data" %}
      {% include "common/categorised-action-plan.html" %}

    </div>
    <div class="govuk-grid-column-two-thirds">

      {{ govukButton({
        text: "Edit action plan",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}
