{% extends "layouts/submitted.html" %}

{% set pageName="Submitted" %}
{% set serviceName="MVP action plan journey" %}

{% set annualReview = data.endToEndMVP.lifecycleStage == "annualReview" %}
{% set threeYearReview = data.endToEndMVP.lifecycleStage == "threeYearReview" %}

{% set confirmationTitle = "Three-year review published" if threeYearReview
  else ("Annual review published" if annualReview
    else "Action plan published") %}
{% set reportType = "three-year review" if threeYearReview
  else ("annual review" if annualReview
    else "action plan") %}
{% set confirmationText = "We have received your " + reportType + "." %}
{% set viewLinkUrl = "#" if annualReview or threeYearReview else "published-action-plan" %}

{% block extraContent %}
  {% if not threeYearReview %}
    <p class="user-note">
      <strong>Prototype users:</strong>
      {% set nextStageUrl = "three-year-review-user-note" if annualReview else "annual-review-user-note" %}
      <a href="{{nextStageUrl}}">click here to go to the next stage of the prototype</a>
    </p>
  {% endif %}
{% endblock %}
