{% extends "layouts/submitted.html" %}

{% set pageName="Submitted" %}
{% set serviceName="MVP action plan journey" %}
{% set confirmationTitle = "Annual review published" if data.endToEndMVP.annualReview == "true" else "Action plan published" %}
{% set reportType = "annual review" if data.endToEndMVP.annualReview == "true" else "action plan" %}
{% set confirmationText = "We have received your " + reportType + "." %}
{% set viewLinkUrl = "#" if data.endToEndMVP.annualReview == "true" else "published-action-plan" %}

{% block extraContent %}
  <p class="user-note">
    <strong>Prototype users:</strong>
    {% set nextStageUrl = "three-year-review-user-note" if data.endToEndMVP.annualReview == "true" else "annual-review-user-note" %}
    <a href="{{nextStageUrl}}">click here to go to the next stage of the prototype</a>
  </p>
{% endblock %}
