{% extends "layouts/menu-bar.html" %}

{% set journeyShortCode = "endToEndMVP" %}
{% set pageName="Actions list" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan 2024/25",
        href: "actions-list"
      },
      {
        text: "Supporting narrative"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{data.db.company.name}}
      </span>
      <h1 class="govuk-heading-l">
        Add your supporting narrative
      </h1>
      <p>
        You can add an overall supporting narrative with any background information.
        This might include your organisation’s objectives for equality, diversity and inclusion.
      </p>
      <p>
        You must add a link to your website – for example, to your organisation’s equality policies or strategy.
      </p>

      <form action="action-plan-task-list" method="post">
        {{ govukTextarea({
          id: journeyShortCode + "[narrative]",
          name: journeyShortCode + "[narrative]",
          label: {
            text: "Supporting narrative",
            classes: "govuk-label--s"
          },
          value: data[journeyShortCode].narrative
        }) }}

        {{ govukInput({
          id: journeyShortCode + "[narrativeLink]",
          name: journeyShortCode + "[narrativeLink]",
          label: {
            text: "Website link",
            classes: "govuk-label--s"
          },
          value: data[journeyShortCode].narrativeLink
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
