{% extends "layouts/menu-bar.html" %}

{% set pageName="Three-year review: introduction" %}
{% set serviceName="MVP action plan journey" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Action plan three-year review 2027-28"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Action plan three-year review
      </h1>

      <p>
        Every year after your action plan is created, you will be asked to review it.
      </p>
      <p>
        Every three years, this will be a thorough evaluation of all actions and a
        reselection of new actions for your action plan. (In the intervening years,
        only a brief summary of progress and measurement is required, as you have
        done in the last two years.)
      </p>
      <p>
        As this is your third year of review, we will guide you through the more
        thorough evaluation of the plan.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "three-year-review-evaluate-your-plan",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
