{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Tailored action plans - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>These are illustrative visualisations of ways in which employers might tailor their action plan to their own resources and experience.</p>

    <p><a href="tailored-action-plans/tiered-categorised-checklist">Tiered, categorised checklist</a></p>

  </div>
</div>

{% endblock %}
