{% extends "layouts/main.html" %}

{% set pageName="Annual review" %}
{% set serviceName="Action Plan lifecycle - visualisations" %}

{% set thisPageAction = {} %}
{% for action in data.db.actions %}
  {% if action.shortCode == data.actionShortCode %}
    {% set thisPageAction = action %}
  {% endif %}
{% endfor %}
{% set dbStatus = data.db.company.actionsInProgress[thisPageAction.shortCode].status %}
{% set submittedStatus = data.annualReview[thisPageAction.shortCode].status %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{thisPageAction.title}}
      </h1>

      {% include "content/"+thisPageAction.shortCode+"/summary" %}

      <form action="update-action-plan" method="post">

        {{ govukRadios({
          name: "annualReview[" + thisPageAction.shortCode + "][status]",
          fieldset: {
            legend: {
              text: "How is your organisation progressing with this practice?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: submittedStatus if submittedStatus else dbStatus,
          items: [
            {
              value: "embedded",
              text: "We have already embedded this in our working culture"
            },
            {
              value: "in-progress",
              text: "We are working on embedding this"
            },
            {
              value: "adopt",
              text: "We would like to adopt this practice and add it to our action plan"
            },
            {
              value: "ignore",
              text: "We do not want to pursue this practice currently"
            }
          ]
        }) }}

        {{ govukTextarea({
          id: "annualReview[" + thisPageAction.shortCode + "][narrative]",
          name: "annualReview[" + thisPageAction.shortCode + "][narrative]",
          label: {
            text: "Supporting narrative",
            classes: "govuk-label--s"
          },
          hint: {
            text: "If you would like to give more details, you can do so here"
          },
          value: data.annualReview[thisPageAction.shortCode].narrative
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
