{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>
      This is an illustrative visualisation of how employers might report their
      three pay gaps and action plans.
    </p>

    <p><a href="edpg-reporting/dashboard">Dashboard</a></p>

  </div>
</div>

{% endblock %}
