{% extends "layouts/main.html" %}

{% set pageName="Staged, categorised checklist" %}
{% set serviceName="Tailored action plans - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Action plan draft
      </h1>

      <p>
        Below are the categories of actions that you can take.
        Each category supports the others, so it is better to do the basics in every category
        than to do everything possible in only one.
      </p>
      <p>
        For each category, we will list some actions and ask whether your organisation:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>already does it routinely as far as possible</li>
        <li>is already working on it, but it is not yet routine</li>
        <li>would like to start working on it</li>
        <li>is considering working on it</li>
        <li>does not want to pursue this practice currently</li>
      </ul>
      <p>Your action plan will consist of those actions you're already working on and those you would like to start working on.</p>

    </div>
    <div class="govuk-grid-column-full">
        
      <form class="govuk-!-margin-top-4" action="submitted" method="post">

        <dl class="govuk-summary-list">
          {% for category in data.db.actionCategories %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{category.title}}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if loop.index < 3 %}
                  <p>1 action {{ "embedded" | statusToTag | safe }}</p>
                  <p>2 actions {{ "in-progress" | statusToTag | safe }}</p>
                  <p>1 action {{ "adopt" | statusToTag | safe }}</p>
                {% else %}
                  <a class="govuk-link" href="assess-category?categoryShortCode={{category.shortCode}}">
                    Assess this category
                  </a>
                {% endif %}
              </dd>
              {% if not viewOnly %}
                <dd class="govuk-summary-list__actions">
                  {% if loop.index < 3 %}
                    <a class="govuk-link" href="assess-category?categoryShortCode={{category.shortCode}}">Change</a>
                  {% endif %}
                </dd>
              {% endif %}
            </div>
    
          {% endfor %}
        </dl>

        <div class="govuk-inset-text">
          <p class="govuk-body">
              On submission your best practice checklist will be published on the Gender pay gap service.
          </p>
        </div>

        {{ govukButton({
          text: "Submit checklist"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
