{% extends "layouts/menu-bar.html" %}

{% set pageName="Gender pay gap - hourly pay" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Gender pay gap &mdash; hourly pay
      </h1>

			<p class="govuk-body">
            Enter your figures as:
            <ul class="govuk-list govuk-list--bullet">
                <li>whole percentages</li>
                <li>percentages rounded to one decimal place</li>
            </ul> 
        </p>

			<p class="govuk-body">If women in your organisation are paid more than men, 
        enter a negative percentage figure &mdash; for example, -12%.</p>

      <form class="form" action="pay-quarters" method="post">

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> gender pay gap for hourly pay"
          },
          hint: {
            text: "The mean is the 'average' value in a set of numbers."
          },
          classes: "govuk-input--width-5",
          id: "gpg-mean-hourly",
          name: "gpg[meanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> gender pay gap for hourly pay"
          },
          hint: {
            text: "The median is the middle point of a range of numbers arranged in order.
                     If there is an even number in the range, the median is the mean (average) of the 2 middle numbers."
          },
          classes: "govuk-input--width-5",
          id: "gpg-median-hourly",
          name: "gpg[medianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}
					
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

        