{% extends "layouts/main.html" %}

{% set pageName="Best practice checklist" %}
{% set serviceName="Choosing actions - visualisations" %}

{% set thisPageAction = {} %}
{% for action in data.db.actions %}
  {% if action.shortCode == data.actionShortCode %}
    {% set thisPageAction = action %}
  {% endif %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{thisPageAction.title}}
      </h1>

      <p>
        {{thisPageAction.description}}
      </p>

      <form action="checklist-summary" method="post">

        {{ govukRadios({
          name: "bestPracticeChecklist[" + thisPageAction.shortCode + "][status]",
          fieldset: {
            legend: {
              text: "How is your organisation progressing with this practice?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data.bestPracticeChecklist[thisPageAction.shortCode].status,
          items: [
            {
              value: "embedded",
              text: "We have already embedded this in our working culture"
            },
            {
              value: "in-progress",
              text: "We are working on embedding this"
            },
            {
              value: "add-to-plan",
              text: "We would like to adopt this practice and add it to our action plan"
            },
            {
              value: "ignore",
              text: "We do not want to pursue this practice currently"
            }
          ]
        }) }}

        {{ govukTextarea({
          id: "bestPracticeChecklist[" + thisPageAction.shortCode + "][narrative]",
          name: "bestPracticeChecklist[" + thisPageAction.shortCode + "][narrative]",
          label: {
            text: "Supporting narrative",
            classes: "govuk-label--s"
          },
          hint: {
            text: "If you would like to give more details, you can do so here"
          },
          value: data.bestPracticeChecklist[thisPageAction.shortCode].narrative
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
