{% extends "layouts/menu-bar.html" %}

{% set pageName="Disability pay gap - bonus pay received" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Disability pay gap &mdash; bonus pay received
      </h1>

			<p class="govuk-body">
				Enter your figures as whole percentages or rounded to one decimal place.</p>

      <form class="form" action="../pay-gaps-report" method="post">

        <h3 class="govuk-heading-s">Percentage who received bonus pay</h3>

        {{ govukInput({
          label: {
              html: "Disabled employees"
          },
          classes: "govuk-input--width-5",
          id: "disabled-bonus-received",
          name: "dpg[bonusReceived][disabled]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        {{ govukInput({
          label: {
              html: "Non-disabled employees"
          },
          classes: "govuk-input--width-5",
          id: "non-disabled-bonus-received",
          name: "dpg[bonusReceived][nonDisabled]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

        