{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block breadCrumbs %}
{% endblock %}

{% block content %}

<form action="/edpg-reporting-questions/pay-gaps-report" method="post">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        Enter mean and median disability pay gap using bonus pay
    </h1>

     <h2 class="govuk-heading-m">
        Reporting as Dunder Mifflin for snapshot date April 2027
    </h2>   
    
    <p>
        Enter your figures as whole percentages or rounded to one decimal place.
    </p>

    <p>If disabled people in your organisation are paid more than non-disabled, enter a negative percentage figure – for example -12%.</p>

    <div>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-mean",
            label: {
            text: "Enter the mean (average) disability pay gap for bonus pay",
            classes: ""
            },
        
            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}
        
        </div>


        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-bonuspay-median",
            label: {
            text: "Enter the median disability pay gap for bonus pay",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>

    </div>

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and return to dashboard
        </button>
    </div>
    
    <div>
        <a href="/edpg-reporting-questions/dpg-questions/bonus" class="govuk-back-link">back</a>
    </div>
    
    <div>
        <p class="govuk-!-margin-top-9">
            <a href="/edpg-reporting-questions/pay-gaps-report" class="govuk-back-link">return to dashboard</a>
        </p>
    </div>

    </div>
</div>

</form>

{% endblock %}