{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block breadCrumbs %}
{% endblock %}

{% block content %}

<form action="bonus-pay-gap" method="post">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        Enter percentage of disabled and non-disabled people who received bonus pay
    </h1>

     <h2 class="govuk-heading-m">
        Reporting as Dunder Mifflin for snapshot date April 2027
    </h2>   
    
    <p class="govuk-!-margin-bottom-10">
        Enter your figures as whole percentages or rounded to one decimal place.
    </p>

    <form action="bonus-pay-gap" method="post">
    <div>
    <p>
        <b>Percentage who received bonus pay</b>
        </p>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-hourlypay-median",
            label: {
            text: "Disabled",
            classes: ""
            },
        
            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}
        
        </div>

        <div>
            {{ govukInput({
            id: "cost-per-item",
            name: "disability-hourlypay-median",
            label: {
            text: "Non-disabled",
            classes: ""
            },

            suffix: {
            text: "%"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}

        </div>
    </div>

    <div class="govuk-button-group">
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>
    </div>

    <div>
        <a href="/edpg-reporting-questions/dpg-questions/pay-quarters" class="govuk-back-link">back</a>
    </div>

    <div>
        <p class="govuk-!-margin-top-9">
            <a href="/edpg-reporting-questions/pay-gaps-report" class="govuk-back-link">return to dashboard</a>
        </p>
    </div>

    </form>
</div>
</div>

</form>
{% endblock %}