{% extends "layouts/menu-bar.html" %}

{% set pageName="Workforce breakdown - disability" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Workforce breakdown by disability, and disclosure rates
      </h1>

      <h2 class="govuk-heading-m">
        Reporting as Dunder Mifflin for snapshot date April 2027
      </h2>

        <p>Disability reporting will use the ‘binary’ approach (comparing the pay of disabled and non-disabled employees) to report disability pay gap data</p>

        <p>This service uses the Equality Act 2010 definition of ‘disability’ for pay gap reporting.</p>

         <div class="govuk-inset-text">
            <a href="#">View full guidance on disability reporting and the Equality Act 2010</a> 
        </div>

        <p>To be eligible to report on your disability pay gap you must meet the minimum criteria for number of employees in each group (10). This is to protect the identity of individual employees in each group.</p>


      <form class="form" action="../pay-gaps-report" method="post">


        <h2 class="govuk-heading-s">
          Workforce breakdown by disability
        </h2>

        <p>Enter the number of employees who disclosed their disability status in the catgories below.</p>


              <p>
                Enter your figures as whole numbers.
              </p>



        {{ govukInput({
          label: {
            text: "Disabled employees",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "disabled-employees",
          name: "workforce[disabled]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Non-disabled employees",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "non-disabled-employees",
          name: "workforce[nonDisabled]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Status not disclosed",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "disability-status-not-disclosed",
          name: "workforce[disabilityStatusNotDisclosed]",
          inputmode: "numeric"
        }) }}

        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
