{% extends "layouts/menu-bar.html" %}

{% set pageName="Workforce breakdown - disability" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Disability statuses
      </h1>

      <form class="form" action="pay-gap-hourly-pay" method="post">

        {{ govukInput({
          label: {
            text: "Disabled employees",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "disabled-employees",
          name: "workforce[disabled]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Non-disabled employees",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "non-disabled-employees",
          name: "workforce[nonDisabled]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Prefer not to say",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "disability-status-not-disclosed",
          name: "workforce[disabilityStatusNotDisclosed]",
          inputmode: "numeric"
        }) }}

        {{ govukInput({
          label: {
            text: "Unknown",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "disability-status-unknown",
          name: "workforce[disabilityStatusUnknown]",
          inputmode: "numeric"
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a class="govuk-link" href="../pay-gaps-report">Save and exit</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
