{% extends "layouts/menu-bar.html" %}

{% set pageName="Disability pay gap - hourly pay by grade" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Disability pay gap &mdash; hourly pay by grade
      </h1>

      <p class="review-note">
        For this prototype, we assume the user has 6 grades in their organisation
      </p>

			<p class="govuk-body">
				Enter your figures as whole percentages or rounded to one decimal place.</p>

			<p class="govuk-body">If disabled people in your organisation are paid more than non-disabled people, enter a negative percentage figure – for example -12%.</p>

      <form class="form" action="../pay-gaps-report" method="post">

        <p>The mean is the 'average' value in a set of numbers.</p>
        <p>
            The median is the middle point of a range of numbers arranged in order.
            If there is an even number in the range, the median is the mean (average) of the 2 middle numbers.
        </p>

        <h3 class="govuk-heading-s">Highest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-one-mean-hourly",
          name: "dpg[gradeOneMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-one-median-hourly",
          name: "dpg[gradeOneMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        <h3 class="govuk-heading-s">Second highest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-two-mean-hourly",
          name: "dpg[gradeTwoMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-two-median-hourly",
          name: "dpg[gradeTwoMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        <h3 class="govuk-heading-s">Third highest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-three-mean-hourly",
          name: "dpg[gradeThreeMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-three-median-hourly",
          name: "dpg[gradeThreeMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        
        <h3 class="govuk-heading-s">Fourth highest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-four-mean-hourly",
          name: "dpg[gradeFourMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-four-median-hourly",
          name: "dpg[gradeFourMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}
        
        <h3 class="govuk-heading-s">Fifth highest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-five-mean-hourly",
          name: "dpg[gradeFiveMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-five-median-hourly",
          name: "dpg[gradeFiveMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

        <h3 class="govuk-heading-s">Lowest pay grade</h3>

        {{ govukInput({
          label: {
              html: "Enter the <b>mean (average)</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-six-mean-hourly",
          name: "dpg[gradeSixMeanHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}

          {{ govukInput({
          label: {
              html: "Enter the <b>median</b> disability pay gap for hourly pay"
          },
          classes: "govuk-input--width-5",
          id: "dpg-grade-six-median-hourly",
          name: "dpg[gradeSixMedianHourly]",
          suffix: {
              text: "%"
          },
          spellcheck: false
          }) }}
					
        {{ govukButton({
          text: "Submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

        