{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p>This site hosts prototypes related to equality action plans.</p>

    <h2 class="govuk-heading-m">Visualisations</h2>

    <p>These are visualisations of concepts and ideas, to encourage discussion.</p>

    <p><a href="choosing-actions">Choosing actions</a></p>

    <p><a href="tailored-action-plans">Tailored action planning</a></p>

    <p><a href="lifecycle">Action Plan lifecycle</a></p>

    <h2 class="govuk-heading-m">Research journeys</h2>

    <p>
      While the above journeys may evolve and iterate,
      these journeys are "snapshots" used for user research.
    </p>

    <p><a href="research-journeys/sprint-42">Sprint 42: Foundational employers and the best practice checklist</a></p>

  </div>
</div>

{% endblock %}
