{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <a href="/simple-pick-list/">Simple pick list</a>

    <a href="/fixed-categories/">Fixed categories</a>

    <a href="/suggested-actions/">Suggested actions</a>

    <a href="/supporting-action-plan-development/">Supporting action plan development</a>

    <a href="/more-analysis-needed/">More analysis needed</a>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
