{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p><a href="/simple-pick-list/">Simple pick list</a></p>

    <p><a href="/fixed-categories/">Fixed categories</a></p>

    <p><a href="/suggested-actions/">Suggested actions</a></p>

    <p><a href="/supporting-action-plan-development/">Supporting action plan development</a></p>

    <p><a href="/more-analysis-needed/">More analysis needed</a></p>

  </div>
</div>

{% endblock %}
