{% set showChanges = false %}
{% if not creatingNewActionPlan %}
  {% for action in data.db.actions %}
    {% if data[journeyShortCode][action.shortCode].status
      and data[journeyShortCode][action.shortCode].status != data.db.company.actionsInProgress[action.shortCode].status %}

      {% set showChanges = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<dl class="govuk-summary-list action-plan-summary{{"-with-changes" if showChanges}}{{"-extra-action" if enableDataCollectionJourney}}">
  
  {% for action in data.db.actions %}
    {% set dbStatus = data.db.company.actionsInProgress[action.shortCode].status %}
    {% set submittedStatus = data[journeyShortCode][action.shortCode].status %}
    {% set submittedNarrative = data[journeyShortCode][action.shortCode].narrative %}

    {% if fakeAllSupportingNarratives %}
      {% if submittedStatus or dbStatus != "embedded" %}
        {% set narrativeToDisplay = submittedNarrative or
          ("We are satisfied that this is now a routine for us and no further action is needed."
          if submittedStatus == "embedded" else
          ("We are now ready to start doing this."
          if submittedStatus == "adopt" else
          "We have made good progress on this action but there is more to do."))
        %}
      {% else %}
        {% set narrativeToDisplay = "" %}
      {% endif %}
    {% else %}
      {% set narrativeToDisplay = submittedNarrative %}
    {% endif %}

    {% if fakeEvaluationInformation and narrativeToDisplay %}
      {% set narrativeToDisplay %}
        <h3 class="govuk-heading-s">How's this action going?</h3>
        <p>{{narrativeToDisplay}}</p>
        <h3 class="govuk-heading-s">What information have you used to evaluate this action?</h3>
        <p>We used information from our HR system and an anonymous staff survey.</p>
      {% endset %}
    {% endif %}

    {#
      Limit to actions in category if supplied.
      Ignore unselected actions if instructed (only use when creating a new plan).
      If this is a new plan, display all actions.
      Otherwise only display actions on the existing plan
        or added in this session.
    #}
    {% if (not categoryCode or action.category == categoryCode)
      and (not onlyShowSelectedActions or (submittedStatus and submittedStatus != "ignore"))
      and (creatingNewActionPlan
        or (dbStatus and dbStatus != "ignore")
        or submittedStatus == "adopt") %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{action.title}}
          {% if narrativeToDisplay and narrativeToDisplay != "" %}
            {{ govukDetails({
              summaryText: "Supporting narrative" if viewingService else "Your supporting narrative",
              html: narrativeToDisplay,
              classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
            }) }}
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if creatingNewActionPlan %}
            {% if submittedStatus %}
              {{ submittedStatus | statusToTag | safe }}
            {% else %}
              <a class="govuk-link" href="{{editUrl}}?actionShortCode={{action.shortCode}}">
                {{ unsubmittedLinkText }}
              </a>
            {% endif %}
          {% else %}
            {% if submittedStatus and submittedStatus != dbStatus %}
              {# Status has changed - display full change if was on plan already, or just new status if not previously on plan #}
              {% if dbStatus != "ignore" %}
                {{ dbStatus | statusToTag | safe }} changed to
              {% endif %}
              {{ submittedStatus | statusToTag | safe }}
            {% else %}
              {# No change - just display dbStatus and highlight if requested and there is explicitly no change #}
              {{ dbStatus | statusToTag | safe }}
              {% if highlightNoChange and (submittedStatus or interpretNoSubmissionAsNoChange) %}
                <span class="hint">(no change)</span>
              {% endif %}
            {% endif %}
          {% endif %}
        </dd>
        {% if not viewOnly %}
          <dd class="govuk-summary-list__actions">
            {% if submittedStatus or not creatingNewActionPlan %}
              {% set unsubmittedLinkText = unsubmittedLinkText or "Change" %}

              <ul class="govuk-summary-list__actions-list">
                {% if action.category == "data" and enableDataCollectionJourney
                  and (dbStatus == "adopt" or dbStatus == "in-progress")
                  and submittedStatus != "done" %}
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="collect-data?actionShortCode={{action.shortCode}}">Do it</a>
                  </li>
                {% endif %}
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="{{editUrl}}?actionShortCode={{action.shortCode}}">{{"Change" if submittedStatus else unsubmittedLinkText}}</a>
                </li>
              </ul>
            {% endif %}
          </dd>
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
</dl>
