{% set showChanges = false %}
{% if not creatingNewActionPlan %}
  {% for action in data.db.actions %}
    {% if data[journeyShortCode][action.shortCode].status
      and data[journeyShortCode][action.shortCode].status != data.db.company.actionsInProgress[action.shortCode].status %}

      {% set showChanges = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<dl class="govuk-summary-list action-plan-summary{{ "-with-changes" if showChanges}}">
  
  {% for action in data.db.actions %}
    {% set dbStatus = data.db.company.actionsInProgress[action.shortCode].status %}
    {% set submittedStatus = data[journeyShortCode][action.shortCode].status %}
    {% set submittedNarrative = data[journeyShortCode][action.shortCode].narrative %}

    {#
      Limit to actions in category if supplied.
      Ignore unselected actions if instructed (only use when creating a new plan).
      If this is a new plan, display all actions.
      Otherwise only display actions on the existing plan
        or added in this session.
    #}
    {% if (not categoryCode or action.category == categoryCode)
      and (not onlyShowSelectedActions or (submittedStatus and submittedStatus != "ignore"))
      and (creatingNewActionPlan
        or (dbStatus and dbStatus != "ignore")
        or submittedStatus == "adopt") %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{action.title}}
          {% if submittedNarrative and submittedNarrative != "" %}
            {{ govukDetails({
              summaryText: "Your supporting narrative",
              text: submittedNarrative,
              classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
            }) }}
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if creatingNewActionPlan %}
            {% if submittedStatus %}
              {{ submittedStatus | statusToTag | safe }}
            {% else %}
              <a class="govuk-link" href="{{editUrl}}?actionShortCode={{action.shortCode}}">
                {{ unsubmittedLinkText }}
              </a>
            {% endif %}
          {% else %}
            {{ dbStatus | statusToTag | safe }}
            {% if submittedStatus %}
              {% if submittedStatus != dbStatus %}
                changed to {{ submittedStatus | statusToTag | safe }}
              {% elif highlightNoChange %}
                <span class="hint">(no change)</span>
              {% endif %}
            {% endif %}
          {% endif %}
        </dd>
        {% if not viewOnly %}
          <dd class="govuk-summary-list__actions">
            {% if submittedStatus or not creatingNewActionPlan %}
              {% set unsubmittedLinkText = unsubmittedLinkText or "Change" %}
              <a class="govuk-link" href="{{editUrl}}?actionShortCode={{action.shortCode}}">{{"Change" if submittedStatus else unsubmittedLinkText}}</a>
            {% endif %}
          </dd>
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
</dl>
