{% for category in data.db.actionCategories %}
  {% if category.shortCode != excludeCategory %}

    {% set hasSubmitted = false %}
    {% set actionCount = 0 %}

    {% for action in data.db.actions %}
      {% set submittedStatus = data[journeyShortCode][action.shortCode].status %}
      {% set dbStatus = data.db.company.actionsInProgress[action.shortCode].status %}

      {% if action.category == category.shortCode %}
        {% if submittedStatus %}
          {% set hasSubmitted = true %}
        {% endif %}

        {% if (submittedStatus and submittedStatus != "ignore")
          or ((not creatingNewActionPlan) and dbStatus and dbStatus != "ignore") %}

          {% set actionCount = actionCount + 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if creatingNewActionPlan or actionCount > 0 %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{category.title}}
          </h2>
          {% if creatingNewActionPlan and hasSubmitted and assessWholeCategoryAtOnce %}
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
              <a class="govuk-link" href="assess-category?categoryShortCode={{category.shortCode}}">Reassess category</a>
              </li>
            </ul>
          {% endif %}
        </div>
        <div class="govuk-summary-card__content">
          {% if hasSubmitted or (not creatingNewActionPlan) %}
            {# We have plan data to display #}
            {% if actionCount == 0 %}
              <div class="govuk-summary-list">
                No actions chosen
              </div>
            {% else %}
              {% set categoryCode = category.shortCode %}
              {% include "common/action-plan-in-progress.html" %}
            {% endif %}
          {% else %}
            {# This is a clean slate #}
            {% if assessWholeCategoryAtOnce %}
              <div class="govuk-summary-list">
                <a class="govuk-link" href="assess-category?categoryShortCode={{category.shortCode}}">
                  Assess this category
                </a>
              </div>
            {% else %}
              {% set categoryCode = category.shortCode %}
              {% include "common/action-plan-in-progress.html" %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}

  {% endif %}
{% endfor %}
