<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Percentage of men and women in each hourly pay quarter
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/figures#PayQuartersFieldset">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <span class="govuk-visually-hidden">Percentage of men and women in each hourly pay quarter</span>
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Men</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Women</th>
            </tr>
        </thead>

    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Upper hourly pay quarter</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Upper middle hourly pay quarter</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Lower middle hourly pay quarter</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Lower hourly pay quarter</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Mean and median gender pay gap using hourly pay
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/figures#HourlyPayFieldset">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>


    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Mean gender pay gap using hourly pay</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
60%</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Median gender pay gap using hourly pay</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Percentage of men and women who received bonus pay
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/figures#BonusPayFieldset">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <span class="govuk-visually-hidden">Percentage of men and women who received bonus pay</span>
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Men</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Women</th>
            </tr>
        </thead>

    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Percentage of men and women who received bonus pay</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">
55%</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Mean and median gender pay gap using bonus pay
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/figures#MeanBonusFieldset">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>


    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Mean gender pay gap using bonus pay</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Median gender pay gap using bonus pay</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
50%</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Person responsible in your organisation
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/responsible-person">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>


    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">terrific Steenson<br>PM</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Employee headcount
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/size-of-organisation">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>


    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Number of employees used to establish your headcount for gender pay gap reporting, on your snapshot date</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
250 to 499</td>
            </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9 govuk-!-font-size-16">
            
    <caption class="govuk-table__caption govuk-table__caption--s">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            Link to your supporting narrative
            <div class="govuk-body-s">
                <a class="govuk-link govuk-!-margin-left-8" href="/account/organisations/6ffedfa67ce77cc6da28882725839788/reporting-year-2024/report/link-to-organisation-website">Edit</a>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible" aria-hidden="true">
    </caption>


    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link"></a></th>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
Not Provided</td>
            </tr>
    </tbody>
</table>
