{% if not comparisonPay %}
  {% set comparisonPay = 50 %}
{% endif %}
{% set leftDataLabel = "Women<br/><br/>" %}
{% set rightDataLabel = "Men<br/><br/>" %}
{# (Line breaks help with alignment when several charts are displayed side-by-side) #}
{% set leftCssLabel = "women" %}
{% set rightCssLabel = "men" %}
{% if hourlyPayReportType == "ethnicity" %}
  {% set leftDataLabel = "Smaller groups" %}
  {% set rightDataLabel = "White British" %}
  {% set leftCssLabel = "notwb" %}
  {% set rightCssLabel = "wb" %}
{% endif %}
{% if hourlyPayReportType == "disability" %}
  {% set leftDataLabel = "Disabled" %}
  {% set rightDataLabel = "Not disabled" %}
  {% set leftCssLabel = "disabled" %}
  {% set rightCssLabel = "not-disabled" %}
{% endif %}

{# Setting this here is necessary to avoid false-positive code warnings in my IDE 
   which occur if using inline {{comparisonPay}} in the style statement in the HTML tag. #}
{% set styleStatement = "style=height:" + comparisonPay + "%;" %}
<figure class="pay-comparison-vertical-bar-chart" aria-hidden="true">
  <div class="pay-comparison-vertical-bar-chart-more-or-less">
    <div class="pay-comparison-vertical-bar-chart-more-or-less-inner">
      {{100-comparisonPay}}p
      <br>
      less
      <br>
      <span class="pay-comparison-vertical-bar-chart-more-or-less-arrow" style="transform: rotate(135deg)"></span>
    </div>
    <div class="pay-comparison-vertical-bar-chart-more-or-less-inner">
    </div>
  </div>
  <div class="pay-comparison-vertical-bar-chart-bars">
    <div class="pay-comparison-vertical-bar-chart-bar pay-comparison-vertical-bar-chart-bar--{{leftCssLabel}}" {{styleStatement}}>
    </div>
    <div class="pay-comparison-vertical-bar-chart-bar pay-comparison-vertical-bar-chart-bar--{{rightCssLabel}}" style="height: 100%;">
    </div>
  </div>
  <div class="pay-comparison-vertical-bar-chart-coins">
    <div class="pay-comparison-vertical-bar-chart-coin pay-comparison-vertical-bar-chart-coin--{{leftCssLabel}}">
      {{comparisonPay}}p
    </div>
    <div class="pay-comparison-vertical-bar-chart-coin pay-comparison-vertical-bar-chart-coin--{{rightCssLabel}}">
      £1
    </div>
  </div>
  <div class="pay-comparison-vertical-bar-chart-captions">
    <div class="pay-comparison-vertical-bar-chart-caption">
      {{leftDataLabel | safe}}
    </div>
    <div class="pay-comparison-vertical-bar-chart-caption">
      {{rightDataLabel | safe}}
    </div>
  </div>
</figure>
