<figure class="pay-comparison-vertical-bar-chart" aria-hidden="true">
    <div class="pay-comparison-vertical-bar-chart-more-or-less">
        <div class="pay-comparison-vertical-bar-chart-more-or-less-inner">
            34p
            <br>
            less
            <br>
            <span class="pay-comparison-vertical-bar-chart-more-or-less-arrow" style="transform: rotate(135deg)"></span>
        </div>
        <div class="pay-comparison-vertical-bar-chart-more-or-less-inner">
        </div>
    </div>
    <div class="pay-comparison-vertical-bar-chart-bars">
        <div class="pay-comparison-vertical-bar-chart-bar pay-comparison-vertical-bar-chart-bar--women" style="height: 66%;">
        </div>
        <div class="pay-comparison-vertical-bar-chart-bar pay-comparison-vertical-bar-chart-bar--men" style="height: 100%;">
        </div>
    </div>
    <div class="pay-comparison-vertical-bar-chart-coins">
        <div class="pay-comparison-vertical-bar-chart-coin pay-comparison-vertical-bar-chart-coin--women">
            66p
        </div>
        <div class="pay-comparison-vertical-bar-chart-coin pay-comparison-vertical-bar-chart-coin--men">
            £1
        </div>
    </div>
    <div class="pay-comparison-vertical-bar-chart-captions">
        <div class="pay-comparison-vertical-bar-chart-caption">
            Women
        </div>
        <div class="pay-comparison-vertical-bar-chart-caption">
            Men
        </div>
    </div>
</figure>
