{% if not suggestedActionsList %}
  {% set suggestedActionsList = data.db.company.suggestedActions %}
{% endif %}

{% set actionsList = [] %}
{% for suggestedAction in suggestedActionsList %}
  {% for action in data.db.actions %}
    {% if action.shortCode == suggestedAction %}
      {% set actionsList = (actionsList.push(action), actionsList) %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for category in data.db.actionCategories %}
  {% set categoryHasActions = false %}
  {% for action in actionsList %}
    {% if action.category == category.shortCode %}
      {% set categoryHasActions = true %}
    {% endif %}
  {% endfor %}

  {% if categoryHasActions %}

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          {{category.title}}
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list suggested-actions-with-checkboxes{{" show-reasons" if showReasons}}">

          {% for suggestedAction in actionsList %}
            {% if suggestedAction.category == category.shortCode %}

              <div class="govuk-summary-list__row suggested-action">
                <dt class="govuk-summary-list__key">
                  {{suggestedAction.title}}
                </dt>
                {% if showFullGuidance %}
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="action-details?actionShortCode={{suggestedAction.shortCode}}">View full guidance</a>
                  </dd>
                {% endif %}
                {% if showCheckboxes %}
                  <dd class="govuk-summary-list__actions">
                    {{ govukCheckboxes({
                      name: journeyShortCode + "[" + suggestedAction.shortCode + "][status]",
                      items: [
                        {
                          value: "adopt",
                          text: "Select",
                          checked: data[journeyShortCode][suggestedAction.shortCode].status == "adopt"
                        }
                      ]
                    }) }}
                  </dd>
                {% endif %}
              </div>
              {% if showReasons %}
                <div class="govuk-summary-list__row">
                  <details class="govuk-details action-reason">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Why are we suggesting this?
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      {% include "content/"+suggestedAction.shortCode+"/why-are-we-suggesting-this" %}
                      <p>
                        For more details,
                        <a href="action-guidance?actionShortCode={{suggestedAction.shortCode}}">see the full guidance on this action</a>.
                      </p>
                    </div>
                  </details>
                </div>
              {% endif %}

            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </div>

  {% endif %}
{% endfor %}
