{% extends "layouts/menu-bar.html" %}

{% set pageName="Pay gaps report - overview" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Pay gaps report 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% set preSubmissionInfo %}
  <p>
    On submission your gender pay gap information will be published on the
    Gender pay gap service.
  </p>
  <p>
    Submission of inaccurate data will mean your employer has not complied with
    the gender pay gap reporting regulations.
  </p>
{% endset %}



{# Data  exists#}

{% if data.workforce['disabled'] or data.workforce['nonDisabled'] or data.workforce['disabilityStatusNotDisclosed'] or data.workforce['disabilityStatusUnknown'] %}
  {% set disabilityEligibilityStatus = {text: "Completed"} %}

  {# Needs to report #}
  {% if data.workforce['disabled'] >= 10 and data.workforce['nonDisabled'] >= 10 %}
    {% set dpgHourlyLink = "dpg-questions/pay-gap-hourly-pay" %}
    {% set disabledPayQuartersLink = "dpg-questions/pay-quarters" %}
    {% set disabledBonusPayReceivedLink = "dpg-questions/bonus-pay-received" %}

    {% set dpgHourlyStatus, disabledPayQuarterStatus, dpgBonusReceivedStatus = {
      tag: {
        text: "Incomplete",
        classes: "govuk-tag--blue"
      }
    } %}
    {% if data.dpg['medianHourly'] and data.dpg['meanHourly'] %}
      {% set dpgHourlyStatus = {text: "Completed"} %}
    {% endif %}
    {% if data.dpg['upperPayQuarter']['disabled'] and data.dpg['upperPayQuarter']['nonDisabled']
      and data.dpg['upperMiddlePayQuarter']['disabled'] and data.dpg['upperMiddlePayQuarter']['nonDisabled']
      and data.dpg['lowerMiddlePayQuarter']['disabled'] and data.dpg['lowerMiddlePayQuarter']['nonDisabled']
      and data.dpg['lowerPayQuarter']['disabled'] and data.dpg['lowerPayQuarter']['nonDisabled'] %}
      {% set disabledPayQuarterStatus = {text: "Completed"} %}
    {% endif %}

    {% if data.dpg['bonusReceived']['disabled'] and data.dpg['bonusReceived']['nonDisabled'] %}
      {% set dpgBonusReceivedStatus = {text: "Completed"} %}
      {% set dpgBonusStatus = {text: "Not required"} %} 

      {% if data.dpg['bonusReceived']['disabled'] > 0 and data.dpg['bonusReceived']['nonDisabled'] > 0 %}
        {% set dpgBonusLink = "dpg-questions/pay-gap-bonus-pay" %}

        {% if data.dpg['medianBonus'] and data.dpg['meanBonus'] %}
          {% set dpgBonusStatus = {text: "Completed"} %}
        {% else %}
          {% set dpgBonusStatus = {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          } %}
        {% endif %}
      {% endif %}
       
    {% else %}
      {% set dpgBonusStatus = {
        text: "Cannot start yet",
        classes: "govuk-task-list__status--cannot-start-yet"
        }
      %}
      
    {% endif %}
    

  {# Shouldn't report #}

  {% else %}
    {% set disabilityEligibilityHint = {
      text: "Your disclosure rates on disability status are too low to"
              + " report on your disability pay gap."
            }
            %}
    {% set dpgHourlyStatus, disabledPayQuarterStatus, dpgBonusStatus, dpgBonusReceivedStatus = {
      text: "Not required"
    } %}
    {% set dpgHourlyLink, disabledPayQuartersLink, dpgBonusLink, disabledBonusPayReceivedLink = null %}
  {% endif %}


{# No data #}

{% else %}
  {% set disabilityEligibilityStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
  {% set disabilityEligibilityHint = {
        text: "You must complete your workforce breakdown before the other sections"
      }
      %}
  {% set dpgHourlyStatus, disabledPayQuarterStatus, dpgBonusStatus, dpgBonusReceivedStatus = {
      text: "Cannot start yet",
      classes: "govuk-task-list__status--cannot-start-yet"
    }
  %}
  {% set dpgHourlyLink, disabledPayQuartersLink, dpgBonusLink, disabledBonusPayReceivedLink = null %}
{% endif %}


{% if data.gpg['medianHourly'] and data.gpg['meanHourly'] %}
  {% set gpgHourlyStatus = {text: "Completed"} %}
{% else %}
  {% set disabledPayQuarterStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}

{% if data.gpg['upperPayQuarter']['women'] and data.gpg['upperPayQuarter']['men']
      and data.gpg['upperMiddlePayQuarter']['women'] and data.gpg['upperMiddlePayQuarter']['men']
      and data.gpg['lowerMiddlePayQuarter']['women'] and data.gpg['lowerMiddlePayQuarter']['men']
      and data.gpg['lowerPayQuarter']['women'] and data.gpg['lowerPayQuarter']['men'] %}
  {% set gpgPayQuarterStatus = {text: "Completed"} %}
{% else %}
  {% set gpgPayQuarterStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}


{% if data.gpg['bonusReceived']['women'] and data.gpg['bonusReceived']['men'] %}
  {% set gpgBonusReceivedStatus = {text: "Completed"} %}
  {% set gpgBonusStatus = {text: "Not required"} %} 

  {% if data.gpg['bonusReceived']['women'] > 0 and data.gpg['bonusReceived']['men'] > 0 %}
    {% set gpgBonusLink = "gpg-questions/pay-gap-bonus-pay" %}

    {% if data.gpg['medianBonus'] and data.gpg['meanBonus'] %}
      {% set gpgBonusStatus = {text: "Completed"} %}
    {% else %}
      {% set gpgBonusStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}
    {% endif %}
  {% endif %}
    
{% else %}
  {% set gpgBonusStatus = {
    text: "Cannot start yet",
    classes: "govuk-task-list__status--cannot-start-yet"
    }
  %}
  {% set gpgBonusReceivedStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      {{data.db.company.name}}
    </span>
    <h1 class="govuk-heading-l">
      Pay gaps report
    </h1>

    <p>
      You must submit pay gap data covering gender, ethnicity and disability.
    </p>
    <p>
      For full details of how to report these figures, see the
      <a href="#">pay gap reporting guidance</a>.
    </p>

    <h2 class="govuk-heading-m">Company information</h2>

    {# For some reason this rule does not apply correctly inside task lists
      selected by class, only when applied globally. However, we don't want
      it to apply globally, so just specify it "globally" for this one page. #}
    <style>
      .govuk-task-list__name-and-hint {
        width: 70% !important;
      }
    </style>

    {{ govukTaskList({
      idPrefix: "company-info",
      items: [
        {
          title: {
            text: "Person responsible"
          },
          href: "#",
          status: {
            text: "Toby Flenderson"
          }
        },
        {
          title: {
            text: "Employee headcount"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Link to your supporting narrative"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Number of grades in your organisation"
          },
          href: "public-sector-grades",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Gender pay gap</h2>

    {{ govukTaskList({
      idPrefix: "gender-pay-gap-report",
      items: [
        {
          title: {
            text: "Mean and median gender pay gap using hourly pay"
          },
          href: "gpg-questions/pay-gap-hourly-pay",
          status: gpgHourlyStatus
        },
        {
          title: {
            text: "Percentage of men and women in each hourly pay quarter"
          },
          href: "gpg-questions/pay-quarters",
          status: gpgPayQuarterStatus
        },
        {
          title: {
            text: "Percentage of men and women who received bonus pay"
          },
          href: "gpg-questions/bonus-pay-received",
          status: gpgBonusReceivedStatus
        },
        {
          title: {
            text: "Mean and median gender pay gap using bonus pay"
          },
          href: gpgBonusLink,
          status: gpgBonusStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Ethnicity pay gap</h2>

    {{ govukTaskList({
      idPrefix: "ethnicity-pay-gap-report",
      items: [
        {
          title: {
            text: "Workforce breakdown by ethnicity, and disclosure rates"
          },
          href: "epg-questions/eligibility",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          },
          hint: {
            text: "You must complete your workforce breakdown before the other sections"
          }
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using hourly pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Percentage of different ethnic groups in each hourly pay quarter"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Percentage of different ethnic groups who received bonus pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using bonus pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Ethnicity pay gap by grade"
          },
          status: dpgBonusStatus
        },
        {
          title: {
            text: "Recruitment, retention and progression by ethnicity"
          },
          status: dpgBonusStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Disability pay gap</h2>

    {{ govukTaskList({
      idPrefix: "disability-pay-gap-report",
      items: [
        {
          title: {
            text: "Workforce breakdown by disability status, and disclosure rates"
          },
          href: "dpg-questions/eligibility",
          status: disabilityEligibilityStatus,
          hint: disabilityEligibilityHint
        },
        {
          title: {
            text: "Mean and median disability pay gap using hourly pay"
          },
          href: dpgHourlyLink,
          status: dpgHourlyStatus
        },
        {
          title: {
            text: "Percentage of disabled and non-disabled people in each hourly pay quarter"
          },
          href: disabledPayQuartersLink,
          status: disabledPayQuarterStatus
        },
        {
          title: {
            text: "Percentage of disabled and non-disabled people who received bonus pay"
          },
          href: disabledBonusPayReceivedLink,
          status: dpgBonusReceivedStatus
        },
        {
          title: {
            text: "Mean and median disability pay gap using bonus pay"
          },
          href: dpgBonusLink,
          status: dpgBonusStatus
        },
        {
          title: {
            text: "Disability pay gap by grade"
          },
          status: dpgBonusStatus
        },
        {
          title: {
            text: "Recruitment, retention and progression by disability status"
          },
          status: dpgBonusStatus
        }
      ]
    }) }}

    {{ govukInsetText({
      html: preSubmissionInfo
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Discard draft",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Submit",
        disabled: true
      }) }}
    </div>

    <p>
      <a href="#">Cancel and return to {{data.db.company.name}}</a>
    </p>

  </div>
</div>

{% endblock %}
