{% extends "layouts/menu-bar.html" %}

{% set pageName="Pay gaps report - overview" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Pay gaps report 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% set preSubmissionInfo %}
  <p>
    Your gender pay gap data will be published on the Gender pay gap service 
    after it is submitted.
  </p>
{% endset %}



{# Data  exists#}




{% if data.gpg['upperPayQuarter']['women'] and data.gpg['upperPayQuarter']['men']
      and data.gpg['upperMiddlePayQuarter']['women'] and data.gpg['upperMiddlePayQuarter']['men']
      and data.gpg['lowerMiddlePayQuarter']['women'] and data.gpg['lowerMiddlePayQuarter']['men']
      and data.gpg['lowerPayQuarter']['women'] and data.gpg['lowerPayQuarter']['men'] %}
  {% set gpgPayQuarterStatus = {text: "Completed"} %}
{% else %}
  {% set gpgPayQuarterStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}

{% if data.dpg['upperPayQuarter']['disabled'] and data.dpg['upperPayQuarter']['nonDisabled']
  and data.dpg['upperMiddlePayQuarter']['disabled'] and data.dpg['upperMiddlePayQuarter']['nonDisabled']
  and data.dpg['lowerMiddlePayQuarter']['disabled'] and data.dpg['lowerMiddlePayQuarter']['nonDisabled']
  and data.dpg['lowerPayQuarter']['disabled'] and data.dpg['lowerPayQuarter']['nonDisabled'] %}
  {% set disabledPayQuarterStatus = {text: "Completed"} %}
{% else %}
  {% set disabledPayQuarterStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}

{% if data.epg['upperPayQuarter']['ethnicity-other'] and data.epg['upperPayQuarter']['white']
  and data.epg['upperMiddlePayQuarter']['ethnicity-other'] and data.epg['upperMiddlePayQuarter']['white']
  and data.epg['lowerMiddlePayQuarter']['ethnicity-other'] and data.epg['lowerMiddlePayQuarter']['white']
  and data.epg['lowerPayQuarter']['ethnicity-other'] and data.epg['lowerPayQuarter']['white'] %}
  {% set ethnicityPayQuarterStatus = {text: "Completed"} %}
{% else %}
  {% set ethnicityPayQuarterStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
{% endif %}

{% set disabilityEligibilityStatus, ethnicityEligibilityStatus, gpgHourlyStatus,
   dpgHourlyStatus, dpgBonusReceivedStatus, dpgGradeStatus, dpgRecRetStatus,
   ethnicityHourlyStatus, ethnicityHourlyGradeStatus,
   gpgBonusReceivedStatus, epgBonusReceivedStatus,
   gpgBonusStatus, dpgBonusStatus, epgBonusStatus,
   dpgGradeBonusStatus, epgGradeBonusStatus, epgRecRetStatus = {text: "Completed"} %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      {{data.db.company.name}}
    </span>
    <h1 class="govuk-heading-l">
      Your pay gaps report
    </h1>

    <p class="review-note">
        Thematic page (long)
    </p>

    <p>
      You must submit pay gap data which covers:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>gender</li>
        <li>ethnicity</li>
        <li>disability</li>
    </ul> 
    <p>
      Read the
      <a href="#">pay gap reporting guidance</a> for more details on how to report this data.
    </p>
    <p>Aim to be as accurate as possible – submitting inaccurate data will mean your employer has not complied with the gender pay gap reporting regulations.</p>


    <h2 class="govuk-heading-m">Company information</h2>

    {# For some reason this rule does not apply correctly inside task lists
      selected by class, only when applied globally. However, we don't want
      it to apply globally, so just specify it "globally" for this one page. #}
    <style>
      .govuk-task-list__name-and-hint {
        width: 70% !important;
      }
    </style>

    {{ govukTaskList({
      idPrefix: "company-info",
      items: [
        {
          title: {
            text: "Person responsible"
          },
          href: "#",
          status: {
            text: "Toby Flenderson"
          }
        },
        {
          title: {
            text: "Employee headcount"
          },
          href: "#",
          status: {
              text: "Completed"
          }
        },
        {
          title: {
            text: "Link to your supporting narrative"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Workforce breakdown by ethnicity, and disclosure rates"
          },
          href: "epg-questions/eligibility",
          status: ethnicityEligibilityStatus
        },
        {
          title: {
            text: "Workforce breakdown by disability status, and disclosure rates"
          },
          href: "dpg-questions/eligibility",
          status: disabilityEligibilityStatus
        },
        {
          title: {
            text: "Number of grades in your organisation"
          },
          href: "public-sector-grades",
          status: {text: "Completed"}
        }
      ]
    }) }}

    

    <h2 class="govuk-heading-m">Hourly pay gap</h2>

    {{ govukTaskList({
      idPrefix: "hourly-pay-gap-report",
      items: [
        {
          title: {
            text: "Mean and median gender pay gap using hourly pay"
          },
          status: gpgHourlyStatus
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using hourly pay"
          },
          status: ethnicityHourlyStatus
        },
        {
          title: {
            text: "Mean and median disability pay gap using hourly pay"
          },
          status: dpgHourlyStatus
        },
        {
          title: {
            text: "Ethnicity pay gap by grade using hourly pay"
          },
          status: ethnicityHourlyGradeStatus
        },
        {
          title: {
            text: "Disability pay gap by grade using hourly pay"
          },
          status: dpgGradeStatus 
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Pay quarters</h2>

    {{ govukTaskList({
      idPrefix: "pay-quarters-report",
      items: [
        {
          title: {
            text: "Percentage of men and women in each hourly pay quarter"
          },
          href: "thematic-questions/gender-pay-quarters",
          status: gpgPayQuarterStatus
        },
        {
          title: {
            text: "Percentage of disabled and non-disabled people in each hourly pay quarter"
          },
          href: "thematic-questions/disability-pay-quarters",
          status: disabledPayQuarterStatus
        },
        {
          title: {
            text: "Percentage of different ethnic groups in each hourly pay quarter"
          },
          href: "thematic-questions/ethnicity-pay-quarters",
          status: ethnicityPayQuarterStatus
        }
        
      ]
    }) }}

    <h2 class="govuk-heading-m">Bonus pay received</h2>

    {{ govukTaskList({
      idPrefix: "bonus-pay-received-report",
      items: [
        {
          title: {
            text: "Percentage of men and women who received bonus pay"
          },
          status: gpgBonusReceivedStatus
        },
        {
          title: {
            text: "Percentage of different ethnic groups who received bonus pay"
          },
          status: epgBonusReceivedStatus
        },
        
        {
          title: {
            text: "Percentage of disabled and non-disabled people who received bonus pay"
          },
          status: dpgBonusReceivedStatus
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Bonus pay gap</h2>

    {{ govukTaskList({
      idPrefix: "bonus-pay-gap-report",
      items: [
        {
          title: {
            text: "Mean and median gender pay gap using bonus pay"
          },
          status: gpgBonusStatus
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using bonus pay"
          },
          status: epgBonusStatus
        },
        {
          title: {
            text: "Mean and median disability pay gap using bonus pay"
          },
          status: dpgBonusStatus
        },
           {
          title: {
            text: "Ethnicity pay gap by grade using bonus pay"
          },
          status: epgGradeBonusStatus
        },
        {
          title: {
            text: "Disability pay gap by grade using bonus pay"
          },
          status: dpgGradeBonusStatus
        }

      ]
    }) }}

    <h2 class="govuk-heading-m">Recruitment, retention and progression</h2>

    {{ govukTaskList({
      idPrefix: "recruitment-retention-progression-report",
      items: [
        {
          title: {
            text: "Recruitment, retention and progression by ethnicity"
          },
          status: epgRecRetStatus
        },
        {
          title: {
            text: "Recruitment, retention and progression by disability status"
          },
          status: dpgRecRetStatus
        }
      ]
    }) }}

    {{ govukInsetText({
      html: preSubmissionInfo
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Discard draft",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Submit",
        disabled: true
      }) }}
    </div>

    <p>
      <a href="#">Cancel and return to {{data.db.company.name}}</a>
    </p>

  </div>
</div>

{% endblock %}
