{% extends "layouts/menu-bar.html" %}

{% set pageName="Pay gaps report - overview" %}
{% set serviceName="Ethnicity and disability pay gap reporting - visualisations" %}

{% block breadCrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Your employers",
        href: "employers-list"
      },
      {
        text: data.db.company.name,
        href: "dashboard"
      },
      {
        text: "Pay gaps report 2024/25"
      }
    ]
  }) }}
{% endblock breadCrumbs %}

{% set preSubmissionInfo %}
  <p>
    On submission your gender pay gap information will be published on the
    Gender pay gap service.
  </p>
  <p>
    Submission of inaccurate data will mean your employer has not complied with
    the gender pay gap reporting regulations.
  </p>
{% endset %}

{# Data  exists#}
{% if data.workforce['disabled'] or data.workforce['nonDisabled'] or data.workforce['disabilityStatusNotDisclosed'] %}
  {% set disabilityEligibilityStatus = {text: "Completed"} %}

  {# Needs to report #}
  {% if data.workforce['disabled'] >= 10 and data.workforce['nonDisabled'] >= 10 %}
    {% set disabledGpgTasksStatus = {
      tag: {
        text: "Incomplete",
        classes: "govuk-tag--blue"
      }
    } %}

  {# Shouldn't report #}
  {% else %}
    {% set disabilityEligibilityHint = {
      text: "Your disclosure rates on disability status are too low to"
              + " report on your disability pay gap."
            }
            %}
    {% set disabledGpgTasksStatus = {
      text: "Not required"
    } %}
  {% endif %}

{# No data #}
{% else %}
  {% set disabilityEligibilityStatus = {
    tag: {
      text: "Incomplete",
      classes: "govuk-tag--blue"
    }
  } %}
  {% set disabilityEligibilityHint = {
        text: "You must complete your workforce breakdown before the other sections"
      }
      %}
  {% set disabledGpgTasksStatus = {
      text: "Cannot start yet",
      classes: "govuk-task-list__status--cannot-start-yet"
    }
  %}
{% endif %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      {{data.db.company.name}}
    </span>
    <h1 class="govuk-heading-l">
      Pay gaps report
    </h1>

    <p>
      You must submit pay gap data covering gender, ethnicity and disability.
    </p>
    <p>
      For full details of how to report these figures, see the
      <a href="#">pay gap reporting guidance</a>.
    </p>

    <h2 class="govuk-heading-m">Company information</h2>

    {# For some reason this rule does not apply correctly inside task lists
      selected by class, only when applied globally. However, we don't want
      it to apply globally, so just specify it "globally" for this one page. #}
    <style>
      .govuk-task-list__name-and-hint {
        width: 70% !important;
      }
    </style>

    {{ govukTaskList({
      idPrefix: "company-info",
      items: [
        {
          title: {
            text: "Person responsible"
          },
          href: "#",
          status: {
            text: "Toby Flenderson"
          }
        },
        {
          title: {
            text: "Employee headcount"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Link to your supporting narrative"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Gender pay gap</h2>

    {{ govukTaskList({
      idPrefix: "gender-pay-gap-report",
      items: [
        {
          title: {
            text: "Mean and median gender pay gap using hourly pay"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Percentage of men and women in each hourly pay quarter"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Percentage of men and women who received bonus pay"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        },
        {
          title: {
            text: "Mean and median gender pay gap using bonus pay"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Ethnicity pay gap</h2>

    {{ govukTaskList({
      idPrefix: "ethnicity-pay-gap-report",
      items: [
        {
          title: {
            text: "Workforce breakdown by ethnicity, and disclosure rates"
          },
          href: "#",
          status: {
            tag: {
              text: "Incomplete",
              classes: "govuk-tag--blue"
            }
          },
          hint: {
            text: "You must complete your workforce breakdown before the other sections"
          }
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using hourly pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Percentage of different ethnic groups in each hourly pay quarter"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Percentage of different ethnic groups who received bonus pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Mean and median ethnicity pay gap using bonus pay"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Disability pay gap</h2>

    {{ govukTaskList({
      idPrefix: "disability-pay-gap-report",
      items: [
        {
          title: {
            text: "Workforce breakdown by disability status, and disclosure rates"
          },
          href: "dpg-questions/eligibility",
          status: disabilityEligibilityStatus,
          hint: disabilityEligibilityHint
        },
        {
          title: {
            text: "Mean and median disability pay gap using hourly pay"
          },
          status: disabledGpgTasksStatus
        },
        {
          title: {
            text: "Percentage of disabled and non-disabled people in each hourly pay quarter"
          },
          status: disabledGpgTasksStatus
        },
        {
          title: {
            text: "Percentage of disabled and non-disabled people who received bonus pay"
          },
          status: disabledGpgTasksStatus
        },
        {
          title: {
            text: "Mean and median disability pay gap using bonus pay"
          },
          status: disabledGpgTasksStatus
        }
      ]
    }) }}

    {{ govukInsetText({
      html: preSubmissionInfo
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Discard draft",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Submit",
        disabled: true
      }) }}
    </div>

    <p>
      <a href="#">Cancel and return to {{data.db.company.name}}</a>
    </p>

  </div>
</div>

{% endblock %}
