{% extends "layouts/main.html" %}

{% block pageTitle %}
  Picking actions - core interaction options – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Picking actions - core interaction options
      </h1>

      <h2 class="govuk-heading-m">Key challenge</h2>
      <p>
        Each action that might be chosen has a substantial amount of supporting information -
        at least a paragraph of text. Some users will want to read the supporting information
        for each action, while some will already know what they want to pick and just want
        quick access to selecting their actions.
      </p>
      <p>
        These visualisations show different ways of displaying that information to provide
        for both use cases.
      </p>

      <p><a href="choose-actions-accordion">Accordion component with checkboxes inside</a></p>

      <p><a href="choose-actions-details">Details components under each checkbox</a></p>

    </div>
  </div>

{% endblock %}
