{% extends "layouts/menu-bar.html" %}

{% block menuBar %}
  
  {{ govukServiceNavigation({
    serviceName: "Gender pay gap service",
    serviceUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Current reports",
        active: true
      },
      {
        href: "#",
        text: "Historical reports"
      },
      {
        href: "#",
        text: "Users"
      },
      {
        href: "#",
        text: "Employer details"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Manage your employer's reporting
        <br />
        <span class="govuk-!-font-size-27">
          for {{data.db.company.name}}
        </span>
      </h1>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <p>
        These are the reports that are still current for your organisation, including those
        that are due and those that are completed.
      </p>
      <p>
        You can also see <a href="#">all your historical reports</a>.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      {% if reportsDueRows %}

        <h2 class="govuk-heading-l">
          Reports due
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Deadline"
            },
            {
              text: "Report type"
            },
            {
              text: "Reporting requirement"
            },
            {
              text: "Report status"
            },
            {
              text: ""
            }
          ],
          rows: reportsDueRows
        }) }}

      {% endif %}

      {% if completedReportsRows %}

        <h2 class="govuk-heading-l">
          Completed current reports
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Deadline"
            },
            {
              text: "Report type"
            },
            {
              text: "Reporting requirement"
            },
            {
              text: "Report status"
            },
            {
              text: ""
            }
          ],
          rows: completedReportsRows
        }) }}

      {% endif %}

    </div>
  </div>

{% endblock %}
