{% extends "layouts/main.html" %}

{% block menuBar %}
  
  {{ govukServiceNavigation({
    serviceName: "Gender pay gap service",
    serviceUrl: "#",
    navigation: [
      {
        href: "employers-list",
        text: "Your employers",
        active: true
      },
      {
        href: "#",
        text: "Explore the data"
      },
      {
        href: "#",
        text: "Guidance"
      },
      {
        href: "#",
        text: "Your account"
      },
      {
        href: "#",
        text: "Log out"
      }
    ]
  }) }}

{% endblock %}
