<p class="placeholder">
  A full explanation clarifying the intention, the terminology and the process of this action.
</p>
{% if not contentForUserResearch %}
  <p class="placeholder">
    e.g. What exactly is an "equity lead"? (from <b>Appoint employment equity leads and/or task forces</b>)
  </p>
  <p class="placeholder">
    or "If you have fixed pay scales and do not deviate from them, you have already embedded pay transparency
    (from <b>Increase transparency to promotion, pay and reward processes</b>)"
  </p class="placeholder">
{% endif %}
