<p class="placeholder">
  Guidance on how to implement the action, including how to tailor it appropriately for
  your own organisation.
</p>
<p class="placeholder">
  e.g. "How to set targets that are appropriate for your organisation"
  (from <b>Set internal targets for gender representation and equality</b>)
  might include considerations for specific sectors and their typical gender balances,
  considerations for organisations with a hiring freeze, etc.
</p>
<p class="placeholder">
  Can also include how <b>not</b> to - common mistakes e.g. "general goals like 'be more
  inclusive' are not targets and will not be effective" (from <b>Set internal targets for gender representation and equality</b>)
</p>
