{% extends "layouts/menu-bar.html" %}

{% set pageName="List of all actions" %}
{% set serviceName="Action suggestion engine - visualisations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        All actions
      </h1>

      <p>
        This page lists all the actions suitable for inclusion in an
        organisation&rsquo;s action plan.
      </p>

      {% for category in data.db.actionCategories %}
        {% if category.shortCode != "data" %}
          <h2 class="govuk-heading-m">{{category.title}}</h2>

          {% for action in data.db.actions %}
            {% if action.category == category.shortCode %}
              <h3 class="govuk-heading-s">{{action.title}}</h3>

              {% include "content/"+action.shortCode+"/summary" %}

              <p>
                For more information,
                <a href="action-guidance?actionShortCode={{action.shortCode}}">see the full guidance for this action</a>.
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

    </div>
  </div>

{% endblock %}
