{% extends "layouts/main.html" %}

{% set pageName="Suggested actions" %}
{% set serviceName="Action suggestion engine - visualisations" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Suggested actions
      </h1>

      <p>
        Based on the data you submitted, we suggest adding the following actions
        to your plan.
      </p>

    </div>
    <div class="govuk-grid-column-full">

      <form action="action-list" method="post">

        {% set suggestedActionsList = [
          'conduct-gender-pay-gap-analysis',
          'share-local-support-for-flexible-working',
          'flexible-working-available-to-all',
          'structured-interviews',
          'remuneration-transparency',
          'promotion-application-by-default'
        ] %}
        {% set journeyShortCode = "suggestionEngine" %}
        {% set showReasons = true %}
        {% include "common/suggested-actions-list" %}

        {{ govukButton({
          text: "Add selected actions to your action plan"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
